<div class="bg-contact" ng-controller="HomeCtrl" id="contact">
 <div class="contact-bg">
  <div class="container">
    <div class="row">
      <div class="contactus white">
        <div class="col-md-3 col-sm-3">
          <p class="">&copy; Copyright {{template.year}} Adya Dairy Pvt. Ltd.</p>
        </div>
        <div class="col-md-offset-1 col-md-4 col-sm-5">
          <div class="follow text-center">
            <p>Follow us on</p>
            <div class="social-icon">
              <ul class="list-inline">
                <li><a href="https://www.facebook.com/Adya-Dairy-Products-Private-Limited-938475692900777/" target="_blank" class="block text-center"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/adyadairy/" target="_blank" class="block text-center"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3 col-sm-3">
          <p class="text-uppercase text-right">Designed by <a href="http://www.ting.in/" class="white" target="_blank">TING</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
