<div class="bg-contact">
 <div class="contact-bg">
  <div class="container">
    <div class="row">
      <div class="contactus white">
        <div class="col-md-3">
          <h2 class="font-funky brand-title title">contact us</h2>
        </div>
        <div class="col-md-3">
          <address class="address">Adya Dairy Products Pvt. Ltd.
            <br> Vill - Sankarhati, P.O.- Munsirhat,
            <br> Dist - Howrah, West Bengal - 711410
            <a href="mailto:customercare@adyadairy.com" class="white block">customercare@adyadairy.com</a>
            <span class="block"><a href="tel:18002583333" class="white">1800-258-3333</a> (Toll Free)</span>
          </address>
        </div>
        <div class="col-md-offset-3 col-md-3">
          <div class="text-right">
            <p class="copyright">&copy; {{template.year}} ADYA</p>
            <div class="follow">
              <p>Follow us on</p>
              <div class="social-icon">
                <ul class="list-inline">
                  <li><a href="" target="_blank" class="block text-center"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="" target="_blank" class="block text-center"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="" target="_blank" class="block text-center"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <p class="text-uppercase">Designed by <a href="https://ting.in/" class="white">TING.IN</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
