<div class="dahi">
  <div class="dahi-section">
    <div class="dahi-txt">
      <h2 class="font-funky brand-brown title home-title">dahi</h2>
      <a href="#/dahi" class="btn butn button-fix text-uppercase font-proxima-semi">Know More</a>
    </div>
    <div class="dahi-image">
      <img src="img/home/section3.png" alt="Milk" />
    </div>
  </div>
</div>

<!-- <div class="milk">
  <div class="milk-section">
    <div class="dahi-txt">
      <a href="#/dahi" class="btn butn-inverse button-fix text-uppercase">Know More</a>
    </div>
    <div class="milk-section">
      <div class="milk-image text-center">
        <img src="img/section3.png" alt="Milk" />
      </div>
    </div>
  </div>
</div> -->
