<div class="milk">
  <div class="container">
      <div class="milk-txt">
        <h2 class="font-funky brand-title title">milk</h2>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        <a href="#/milk" class="btn butn-inverse button-fix text-uppercase">Know More</a>
      </div>
		<div class="start-img text-center">
      <img src="img/start.png" alt="" class="" />
		</div>
         <div class="milk-section">
      <div class="milk-image text-center">
        <img src="" alt="Milk" class="taxiAnimation"  taxi />
      </div>
      <div class="milk-package text-center">
        <img src="img/home/milk-section.png" alt="" class="" />
      </div>
    </div>
  </div>
</div>
