<!-- <div class="milk-txt">
        <h2 class="font-funky brand-title title">milk</h2>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        <a href="#/milk" class="btn butn-inverse button-fix text-uppercase">Know More</a>
      </div>
		<div class="start-img text-center">
      <img src="img/start.png" alt="" class="" />
		</div>
    <div class="milk-section">
      <div class="milk-image text-center">
        <img src="img/milk-section.png" alt="Milk"/>
      </div>
    </div> -->
<!-- <h2 class="font-funky brand-title title">milk</h2> -->
<!-- <div class="start-img text-center">
        <img src="img/start.png" alt="" class="" />
      </div> -->
<div class="milk">
  <div class="milk-section">
    <div class="milk-txt">
      <h2 class="font-funky brand-purple title home-title">milk</h2>
      <a href="#/milk" class="btn butn button-fix text-uppercase font-proxima-semi">Know More</a>
    </div>
    <div class="milk-section">
      <div class="milk-image text-center">
        <img src="img/home/section2.png" alt="Milk" />
      </div>
    </div>
  </div>
</div>
