<div class="dahi">
  <div class="container">
    <div class="dahi-section">
      <div class="dahi-txt">
        <h2 class="font-funky brand-title title">dahi</h2>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        <a href="#/dahi" class="btn butn-inverse button-fix text-uppercase">Know More</a>
      </div>
      <div class="dahi-image">
        <img src="img/dahi-section.png" alt="Dahi" class="img-responsive" />
      </div>
    </div>
  </div>
</div>
