<!-- <div class="paneer">
  <div class="paneer-section">
    <div class="paneer-inner dahi">
      <div class="paneer-txt">
        <h2 class="font-funky brand-title title">paneer</h2>
        <a href="#/paneer" class="btn butn button-fix text-uppercase">Know More</a>
      </div>

    </div>
    <div class="paneer-image">
      <img src="img/paneer-section.png" alt="Paneer" class="img-responsive" />
    </div>
  </div>
</div> -->


<div class="paneer">
  <div class="paneer-section">
    <h2 class="home-paneer-title font-funky brand-green title home-title">paneer</h2>
    <div class="paneer-inner dahi">
      <div class="paneer-txt">
        <a href="#/paneer" class="btn butn button-fix text-uppercase font-proxima-semi">Know More</a>
      </div>

    </div>
    <div class="paneer-image">
      <img src="img/home/section4.png" alt="Paneer" class="img-responsive" />
    </div>
  </div>
</div>
