<div class="paneer">
    <div class="paneer-section">
      <div class="paneer-inner dahi">
        <div class="paneer-txt">
          <h2 class="font-funky brand-title title">paneer</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          <a href="#/paneer" class="btn butn button-fix text-uppercase">Know More</a>
        </div>

      </div>
        <div class="paneer-image">
    <img src="img/home/paneer-section.gif" alt="Paneer" class="img-responsive" />
  </div>
            <div class="paneer-package">
          <img src="img/home/home-paneer.png" alt="" class="img-responsive" />
        </div>
    </div>
  </div>
