<div class="about-bg">
    <div class="container">
        <div class="row">
            <div class="aboutus">
                <div class="col-sm-7">
                    <div class="abt-slider">
                        <div class="abt-flex">
                            <flex-slider flex-slide="abt in abtimages track by $index" class="carousel" animation="slide" direction-nav="false">
                                <li>
                                    <img ng-src="{{abt}}" alt="" class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h2 class="font-funky brand-title title">about us</h2>
                    <div class="about-us-desc">
                      <p>Adya Dairy Products Pvt. Ltd is a joint venture between The Shalimar Group and The Chokhany Group.</p>
                      <p>At the heart of Adya lies the dairy farmer and his well-being. By procuring milk directly from the farmer, the company not only benefits him but also succeeds in delivering fresh and healthy milk to thousands of families in West Bengal.</p>
                      <p>Adya Dairy has an integrated dairy plant capable of handling over 1,50,000 litres of milk per day.The milk collected through the chilling centres across villages is processed and packed at the state of the art dairy plant, which is located in the Howrah district of West Bengal.</p>
                      <p>The product portfolio of the company at present include pasteurised milk in different varieties like Toned Milk, Double Toned Milk, Cow Milk and Standardized Milk. Other products include Paneer, Ghee, Dahi and Skimmed Milk Powder. Adya Dairy, with its wide array of products continually strives to make India pure, fresh and tasty.</p>
                    </div>
                    <a href="#/aboutus" class="btn butn button-fix text-uppercase">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
