///////////////////////////////////////////
// HARSH.SCSS
// BY HARSH THAKKAR
// 2015
//////////////////////////////////////////
// CONTACT PAGE
.cont {
  .enquire {
    input:focus,
    textarea:focus,
    .submit:focus {
      outline: none;
      border-color: white;
      box-shadow: none;
    }
    .submit {
      &:hover {
        transition: all 0.5s ease;
        background-color: $brand-primary;
        color: white;
      }
    }
  }
}
.slider {
  .flexslider {
    margin: 0;
  }
}
.price {
  span, p { text-align: left; }
}
table.table-curved {
  border: 2px solid;
  border-collapse: separate;
  overflow: hidden;
  border-radius: 25px;
  font-size: 12px;
  tr + tr {
    border-top: 1px solid;
  }
  td {
    padding: 8px 50px 0 20px;
    text-align: left;
    border-bottom: 1px solid;
  }
  td + td {
    padding: 8px 25px 0 20px;
    border-left: 2px solid;
  }
  tr:first-child td {
    padding-top: 10px;
  }
  tr:last-child td {
    border-bottom: 0;
    padding-bottom: 5px;
  }
}
.table-dahi {
  margin-top: 10px;
}
.milk-slide {
  .milk-images {
    height: 400px;
    margin: 0 auto;
    img {
      width: auto;
      max-height: 100%;
      margin: 0 auto;
    }
  }
  .flex-control-nav {
    display: none;
  }
}
.variant-images {
  ul {
    li {
      display: inline-block;
      margin-right: 20px;
    }
    li:last-child {
      margin: 0;
    }
  }
}
.button-fix {
  line-height: 100%;
  padding: 10px 10px 5px;
  font-weight: bold;
}

// HOME
/* ////////////////////////////
* SECTION 2 (MILK)
//////////////////////////// */
.milk,
.dahi,
.paneer {
  width: 100%;
  height: 100%;
  position: relative;
  .milk-txt,
  .dahi-txt,
  .paneer-txt {
    width: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .milk-image,
  .dahi-image,
  .paneer-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .milk-section, .dahi-section, .paneer-section { position: relative; }
  .milk-image { margin-top: -30px; }
  .dahi-image { margin-top: 90px; position: relative; z-index: 5; }

  .milk-package, .milk-all, .dahi-package, .dahi-cup, .paneer-inner { position: absolute; }
  .milk-package {
    width: 22%;
    top: 435px;
    right: 325px;
  }
  .milk-all {
    width: 22%;
    top: 475px;
    right: 115px;
    z-index: -1;
  }
  .dahi-package {
    width: 72%;
    top: 100px;
    left: 100px;
  }
  .dahi-cup {
    width: 17%;
    top: 375px;
    left: 560px;
  }
  .paneer-inner { width: 100%; }
  .paneer-package {
    margin: 100px 0 0 140px;
  }
}
.contact-bg {
  width: 100%;
  height: 100%;
  background-image: url("../img/contact-bg.png");
  background-size: cover;
  z-index: 5;
  //background-color: $brand-primary;
  padding: 100px 0 50px;
}





//// BUTTONS

.butn {
  background-color: $brand-primary;
  color: $body-bg;
  @include transition(all 300ms ease);
  &:hover {
    border: 1px solid $brand-primary;
    background-color: transparent;
    color: $brand-primary;
    @include transition(all 300ms ease);
  }
}

.butn-inverse {
  background-color: $body-bg;
  color: $brand-primary;
  @include transition(all 300ms ease);
  &:hover {
    border: 1px solid $body-bg;
    background-color: $brand-primary;
    color: $body-bg;
    @include transition(all 300ms ease);
  }
}
