///////////////////////////////////////////
// HARSH.SCSS
// BY HARSH THAKKAR
// 2015
//////////////////////////////////////////
// CONTACT PAGE
.cont {
  .enquire {
    input, textarea {
      border-color: black;
    }
    input:focus,
    textarea:focus,
    .submit:focus {
      outline: none;
      border-color: $brand-primary;
      box-shadow: none;
    }
    .submit {
      &:hover {
        transition: all 0.5s ease;
        background-color: $brand-title;
        color: white;
        border-color: $brand-title;
      }
    }
  }
}
.slider {
  .flexslider {
    margin: 0;
  }
}
.table-dahi {
  margin-top: 10px;
}
.milk-slide {
  .milk-images {
    height: 400px;
    margin: 0 auto 50px;
    img {
      width: auto;
      max-height: 100%;
      margin: 0 auto;
    }
  }
  .flex-control-nav {
    display: none;
  }
}
.variant-images ul li { display: inline-block; }
.button-fix {
  line-height: 100%;
  padding: 10px 10px 8px;
  font-weight: bold;
}
// HOME
/* ////////////////////////////
* SECTION 2 (MILK)
//////////////////////////// */
.home { overflow: hidden; }
.milk,
.dahi,
.paneer {
  width: 100%;
  .milk-txt,
  .dahi-txt,
  .paneer-txt {
    width: 20%;
    position: absolute;
    margin: 60px 0 0 20px;
    z-index: 9;
  }
  .dahi-txt {
    right: 10%;
    top: 25%;
  }
  .milk-txt {
    left: 20%;
    top: 25%;
  }
  .milk-image,
  .paneer-image {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .paneer-image {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .milk-section,
  .dahi-section,
  .paneer-section {
    height: 100%;
  }
  .dahi-image {
    position: relative;
    z-index: 5;
  }
  .milk-package,
  .milk-all,
  .dahi-package,
  .dahi-cup,
  .paneer-inner {
    position: absolute;
  }
  .paneer-inner { top: 39%; }
  .milk-package,
  .dahi-package {
    top: 0;
  }
  .milk-all {
    width: 22%;
    top: 475px;
    right: 115px;
    z-index: -1;
  }
  .paneer-inner {
    .paneer-txt {
      left: 10%;
    }
  }
  .paneer-package {
    top: 0;
    position: absolute;
  }
}
.contact-bg {
  width: 100%;
  height: 100%;
  background-image: url("../img/contact-bg.png");
  background-size: cover;
  z-index: 5;
  padding: 100px 0 50px;
}
//// BUTTONS
.butn {
  background-color: $brand-primary;
  color: $body-bg;
  border: 2px solid $body-bg;
  @include transition(all 300ms ease);
  &:hover {
    border: 2px solid $body-bg;
    background-color: $body-bg;
    color: $brand-primary;
    @include transition(all 300ms ease);
  }
}
.button-blue {
  margin-top: 20px;
  background: $body-bg;
  color: $button-color;
  border: 2px solid $button-color;
  @include transition(all 300ms ease);
  &:hover {
    background-color: $button-color;
    color: $body-bg;
    @include transition(all 300ms ease);
  }
  &:focus {
    color: $button-color;
    outline: none;
  }
}
.butn-inverse {
  background-color: $body-bg;
  color: $brand-primary;
  @include transition(all 300ms ease);
  &:hover {
    border: 1px solid $body-bg;
    background-color: $brand-primary;
    color: $body-bg;
    @include transition(all 300ms ease);
  }
}
.start-img,
.milk .milk-image,
.milk .milk-package {
  img {
    width: 100%;
  }
}
.dahi .dahi-image {
  img {
    width: 100%;
  }
}
// Changes 16 Feb 16
.section.five {
  padding-bottom: 100px;
}
.social-icon2 a {
  background-color: $brand-primary;
  i {
    color: white;
  }
}
.ab-footer {
  position: absolute;
  width: 100%;
  bottom: -20px;
}
.fp-viewing-0 .sticky-bottom {
  top: calc(100%);
}

///////////////////////////////
// CAREERS PAGE
//////////////////////////////
.head {
  img { width: 100%; }
}
.careers {
  .careers-main {
    h2 { margin: 50px 0; }
    p { font-size: 16px; }
    p:last-child { margin-bottom: 180px; }
  }
}
///////////////////////////////
// ABOUT PAGE
//////////////////////////////
.adya-plant {
  margin: 100px 0;
  .plant-images {
    margin-top: 50px;
    .plant-one, .plant-two, .plant-three,
    .plant-four, .plant-five, .plant-six {
      img { @include square(100%); }
    }
    .plant-one, .plant-two {
      height: 350px;
      display: inline-block;
    }
    .plant-three, .plant-four, .plant-five, .plant-six {
      height: 450px;
      display: inline-block;
    }
    .plant-one { width: 59%; margin-right: 4px;  }
    .plant-two { width: 40%; }
    .plant-three { width: 35%; margin-right: 4px;  }
    .plant-four { width: 64%; }
    .plant-five { width: 59%; margin-right: 4px;  }
    .plant-six { width: 40%; }
  }
}

///////////////////////////////
// PRODUCT PAGE
//////////////////////////////
.milk-details, .dahi-details, .paneer-details {
  margin: 0 50px;
  .milk-detail p, .dahi-detail p, .paneer-detail p {
    font-size: 16px;
    line-height: 24px;
  }
}
table.table-curved {
  width: 100%;
  margin: 10px 0 15px;
  background-color: #ebebeb;
  border-collapse: separate;
  overflow: hidden;
  tr + tr {
    border-top: 1px solid;
  }
  td {
    padding: 8px 50px 0 50px;
    text-align: left;
  }
  td + td {
    border-left: 2px solid $body-bg;
    text-align: center;
  }
  tr:first-child td {
    padding-top: 20px;
  }
  tr:last-child td {
    border-bottom: 0;
    padding-bottom: 15px;
  }
}
.prices {
  padding: 10px;
  .price-table {
    width: 100%;
    font-size: 15px;
    td + td {
      border-left: 2px solid $body-bg;
      padding: 0 15px;
    }
    td:first-child span {
      font-size: 18px;
      //margin-top: 6px;
    }
    td:last-child { padding-right: 15px; }
  }
  .milk-prices {
    td:last-child { padding-right: 10px; }
  }
  .dahi-price-table, .paneer-price-table {
    td + td { padding: 0 10px; }
    td:last-child { padding: 0 10px 0 5px; }
  }
  .dahi-price-table td:first-child { padding-left: 10px; }
  .paneer-price-table {
    font-size: 14px;
    td:first-child {
      span { font-size: 16px; }
    }
    td:last-child { padding: 0 10px 0 5px; }
  }
}
.milk-circle {
  width: 740px;
  height: 740px;
  margin-left: -20%;
  position: relative;
  background-image: url("../img/product-circle.png");
  background-size: cover;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    transform: translate(-47%, -50%);
  }
}
.home-title { font-size: 120px; }
.other-header { position: absolute; }


////////
// enquire btn
////////
textarea { resize: none; }
.mini-enquire {
  .enquire-now {
    position: fixed;
    top: 185px;
    right: -48px;
    z-index: 50;
    transition: all 500ms cubic-bezier(0.81, 0, 0.15, 1.03);
    @include transform(rotate(-90deg));
    .enquire-btn {
      background-color: #fff;
      border: 2px solid $brand-primary;
      padding: 10px 15px;
      color: black;
      @include transition(all 500ms ease);
      &:hover {
        background-color: $brand-primary;
        color: black;
        @include transition(all 500ms ease);
      }
    }
  }
  .enquire-main {
    width: 600px;
    padding: 28px 70px 19px;
    position: fixed;
    top: 135px;
    right: -600px;
    z-index: 50;
    transition: all 500ms cubic-bezier(0.81, 0, 0.15, 1.03);
    .form-group {
      margin-bottom: 10px;
      input.form-control {
        height: 45px;
        padding: 12px 12px 8px;
        border: none;
        box-shadow: none;
      }
      textarea.form-control {
        height: 150px;
        padding: 12px 12px;
        border: none;
        box-shadow: none;
      }
    }
    .enquire-name, .enquire-number, .enquire-email, .enquire-button { display: inline-block; }
    .enquire-name { width: 49%; }
    .enquire-number { width: 49%; }
    .enquire-email { width: 69%; }
    .enquire-button {
      width: 29%;
      button {
        width: 100%;
        height: 45px;
      }
    }
    .msgform-complete { margin-top: -10px; }
  }
  .enquire-out { right: 0; }
  .ebutton { right: 556px; }
}


// about New
.life-at-adya {
  margin: 50px 0;
  h2 { margin: 50px 0; }
  h3 {
    margin: 50px 0 20px;
    font-family: $font-proxima-semi;
  }
  .distribution {
    margin-bottom: 100px;
    p > span {
      display: inline-block;
      font-style: italic;
    }
  }
  .cow {
    margin: 10px 0;
    position: relative;
    img {
      width: 80%;
      margin: 0 auto;
    }
    .cow-gif {
      width: 200px;
      position: absolute;
      top: -45px;
      left: 255px;
      @include transform(scaleX(-1));
    }
    .cow-gif-right {
      left: auto;
      right: 255px;
      @include transform(scaleX(1));
    }
  }
  .about-pattern {
    background-color: white;
    img { width: 100%; }
  }
}

$vision-color: #3E3E3E !default;

.vision {
  .vision-image img {
    margin: 50px auto;
    width: 40%;
  }
  .vision-text {
    width: 550px;
    margin: 50px auto;
    font-family: $font-proxima-light;
    span { display: inline-block; }
    .a {
      font-size: 24px;
      margin-bottom: -65px;
      color: lighten($vision-color, 0%);
    }
    .b {
      margin: 25px 0 -30px;
      font-size: 54px;
      color: lighten($vision-color, 50%);
      span {
        margin-bottom: -10px;
        font-size: 80px;
        color: lighten($vision-color, 60%);
      }
    }
    .c {
      margin: 0 0 -20px 60px;
      font-size: 60px;
      color: lighten($vision-color, 45%);
    }
    .d {
      margin-left: 280px;
      font-size: 25px;
      color: lighten($vision-color, 0%);
    }
  }
  p { font-weight: 100; }
}
