.home-logo,
.paneer .paneer-image {
  position: relative;
}
.aboutus .about-us-desc {
  margin: 100px 0;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
.section.five { padding: 0; }
.ab-footer { position: relative; }
.bg-contact { background-color: $brand-primary; }
.home-paneer-title {
  position: absolute;
  margin-top: 16%;
  left: 10%;
}

@media (min-width: 1200px) {
  .dahi .dahi-image { margin-top: -2px; }
}
@media (max-width: 1200px) {
  .dahi .dahi-image { margin-top: -2px; }
}

@media (max-width: $screen-md-max) {
  .home-title { font-size: 90px; }
  .home-paneer-title { margin-top: 14%; }
  .paneer .paneer-txt { margin: 25px 0 0 20px; }
  .milk-txt { left: 17% !important; }
}

@media (max-width: $screen-sm-max) {
  .milk-txt { left: 14% !important; }
}

@media (max-width: $screen-xs-max) {
  // header
  header .logo {
    margin: 0 auto;
    .ham-menu {
      position: absolute;
      top: 15px;
      left: -10%;
      cursor: pointer;
      z-index: 5;
      padding: 10px;
      background-color: #67322A;
      border-radius: 50%;
      span {
        width: 25px;
        height: 2px;
        margin: 5px 0;
        display: block;
        background-color: #feba12;
      }
    }
  }
  .section.one { padding-top: 110px; }
  .home-logo .logo { width: 100px; }
  .dahi .dahi-txt { right: 0; }
  .aboutus .about-us-desc {
    margin: 20px 0 0;
    padding: 20px;
  }
  .aboutus .about-us-desc {
    p { font-size: 16px; }
  }
  .color-blue {
    color: $brand-title;
    font-size: 16px !important;
  }
  .contact-bg { padding: 50px 0; }
  .milk-image-mob {
    position: relative;
    overflow: hidden;
    .start {
      width: 150%;
      margin: 20px 0 -3% -25%;
    }
  }
  .milk .milk-txt {
    left: 20% !important;
    top: 28%;
    text-align: center;
  }
  .milk_var {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 38%;
  }
  .dahi-section { margin-top: 50px; }
  .dahi .dahi-txt {
    width: 100% !important;
    position: relative;
    text-align: center;
    margin-bottom: -40px;
    transform: translateY(0);
  }
  .home-paneer-title {
    margin: 50px 0 0 0 !important;
    position: relative;
    left: auto !important;
    text-align: center;
  }
  .paneer .paneer-inner {
    position: relative;
    margin: 0 0 50px !important;
    .paneer-txt {
      width: 100%;
      left: 0;
      margin: 0 !important;
      text-align: center;
      position: relative;
      transform: translateY(0);
    }
  }
  .paneer .paneer-image { margin-top: -200px; }
}

@media (max-width: 480px) {
  .home-title, .aboutus .about-us-desc h2 { font-size: 50px; }
  .paneer .paneer-inner { margin: 50px 0 -100px; }
  .button-fix { padding: 6px 6px 4px; }
  .home-paneer-title { margin: 100px 0 0 0; }
  .paneer .paneer-image { margin-top: -150px; }
}
