.home-logo,
.paneer .paneer-image {
  position: relative;
}
.aboutus .about-us-desc {
  margin: 100px 0;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
.section.five {
  padding: 0;
}
.ab-footer {
  position: relative;
}
.bg-contact {
  background-color: $brand-primary;
}
@media (max-width: $screen-xs-max) {
  .section.one {
    padding-top: 110px;
  }
  .home-logo {
    .logo {
      width: 100px;
    }
  }
  .dahi .dahi-txt {
    right: 0;
  }
  .aboutus .about-us-desc {
    margin: 20px 0 0;
    padding: 20px;
  }
  .aboutus .about-us-desc {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .color-blue {
    font-size: 14px !important;
  }
  .contact-bg { padding: 50px 0; }
}
