// @media (max-width: 992px) {
//   .energy { width: 50%; }
// }
// @media (max-width: 768px) {
//   // paneer
//   .energy { width: 50%; }
// }
// @media (max-width: @screen-xs-max) {
//
// }
// media query
@media (max-width: $screen-md-max) {
  // Home
  //  .milk .milk-package {
  //    top: 355px;
  //    right: 270px;
  //  }
  .milk .milk-all {
    top: 385px;
    right: 95px;
  }
  //  .dahi .dahi-package {
  //    top: 70px;
  //    left: 100px;
  //  }
  .dahi .dahi-cup {
    top: 310px;
    left: 470px;
  }
  //  .paneer .paneer-package {
  //    width: 30%;
  //    margin-left: 120px;
  //  }
  // About us
  .team-members {
    .manan,
    .aadil,
    .viraj {
      margin: 55px 0 0 20px;
    }
    .member-detail {
      margin-top: 65px;
    }
  }
  // milk
  .table-milk {
    margin-top: 28px;
  }
  .table-dahi {
    margin-top: 20px;
  }
  .table-paneer {
    margin-top: 35px;
  }
  .paneer-title {
    margin: 65px -75px 0 0;
    h2 {
      font-size: 60px;
    }
  }
  // plant
  .slider .main-slidepart {
    width: 90%;
  }
  // about page
  .about { margin: 0 100px; }
  .adya-plant .plant-images .plant-one, .adya-plant .plant-images .plant-two { height: 300px; }
  .adya-plant .plant-images .plant-three, .adya-plant .plant-images .plant-four,
  .adya-plant .plant-images .plant-five, .adya-plant .plant-images .plant-six { height: 400px; }
  // footer
  .contact-bg {
    background-size: contain;
    background-repeat: no-repeat;
  }
  // MILK PAGE
  .milk-circle {
    @include square(600px);
    margin-top: 100px;
  }
  .milk-pack .milk-details, .dahi-pack .dahi-details,
  .paneer-pack .paneer-details { padding: 0; }
  .prices .price-table td:last-child { padding: 2px 15px 0; }
  .prices .dahi-price-table td + td,
  .prices .paneer-price-table td + td { padding: 0 2px; }
  .prices .price-table td:last-child { padding: 2px 5px 0; }
  .dahi-pack, .paneer-pack { margin: 100px 0; }
}
@media (max-width: $screen-sm-max) {
  // Home
  //  .milk .milk-package {
  //    top: 265px;
  //    right: 205px;
  //  }
  .milk .milk-all {
    top: 300px;
    right: 70px;
  }
  .dahi .dahi-image {
    // margin-top: -30px;
  }
  //  .dahi .dahi-package {
  //    top: 65px;
  //    left: 75px;
  //  }
  .dahi .dahi-cup {
    top: 240px;
    left: 355px;
  }
  //  .paneer .paneer-package {
  //    margin: 200px 0 0 60px;
  //  }
  // About us
  .team-members {
    .manan,
    .aadil,
    .viraj {
      margin: 70px 0 0 -15px;
    }
  }
  // contact us
  .contact-add { margin: 0; }
  .contactus p { text-align: center; }
  // milk
  .milk-title,
  .dahi-title,
  .paneer-title {
    margin: 0 0 50px;
    h2,
    p {
      text-align: center;
    }
  }
  .milk-pack,
  .dahi-pack,
  .paneer-pack {
    .milk-details,
    .dahi-details,
    .paneer-details {
      border-left: none;
      border-right: none;
      padding: 50px 0 0;
    }
  }
  .table-curved {
    margin: 0 auto;
  }
  .price {
    span,
    p {
      text-align: center;
    }
  }
  // plant
  .plant-image {
    width: 100%;
  }
  .slider .slide-imgholder {
    height: auto;
  }
  .slider .main-slidepart {
    width: 100%;
    margin: 50px 0 100px;
  }
  // Careers
  .careers {
    .careers-main {
      h2 { font-size: 40px; }
      p { font-size: 14px; }
    }
  }
  // About Page
  .about { margin: 0 50px; }
  .adya-plant .plant-images {
    text-align: center;
    .plant-one, .plant-two, .plant-three,
    .plant-four, .plant-five, .plant-six {
      width: 35%;
      height: 200px;
    }
  }
  // MILK PAGE
  .milk-circle {
    @include square(500px);
    margin: 0 auto;
  }
  .milk-variants { margin: 40px 0 50px; }
}
@media (max-width: $screen-xs-max) {
  // About us
  .team-members {
    .manan,
    .aadil,
    .viraj {
      margin: 0 auto;
    }
    .member-detail {
      margin: 0;
      text-align: center;
    }
  }
  .dahi .dahi-image {
    // margin-top: -15px;
  }
  .menu-links {
    ul > li {
      margin-right: 8pxs !important;
      .sub-menu {
        margin-top: 35px;
        font-size: 14px;
      }
      a {
        font-size: 14px;
      }
    }
  }
  // footer
  .footer {
    text-align: center;
    .credits {
      margin-bottom: 50px;
    }
    .social {
      margin-top: 50px;
    }
  }
  // milk
  .variant-images ul li {
    zoom: 0.5;
  }
  .milk-slide {
    .milk-images {
      height: auto;
      img {
        width: 100%;
      }
    }
  }
  .milk-text {
    font-size: 40px;
    .milk-pack & ~ p {
      font-size: 18px;
    }
  }
  // plant
  .slider .slide-imgholder {
    margin-bottom: 50px;
  }
  .slider .main-slidepart {
    width: 100%;
    margin: 50px 0;
  }
  .big-menu {
    margin-left: 0;
  }
  // .slider .main-slidepart {
  //   display: none;
  // }
  .paneer .paneer-inner .paneer-txt {
    left: 10px;
  }
  .milk .milk-image,
  .dahi .milk-image,
  .paneer .milk-image {
    margin-top: -0px;
  }
  .milk .milk-txt,
  .milk .dahi-txt,
  .milk .paneer-txt,
  .dahi .milk-txt,
  .dahi .dahi-txt,
  .dahi .paneer-txt,
  .paneer .milk-txt,
  .paneer .dahi-txt,
  .paneer .paneer-txt {
    width: 30%;
    .title { margin: 0; }
    p { font-size: 12px; }
  }
  .aboutus {
    padding-bottom: 10px;
    p {
      font-size: 12px;
      text-align: justify;
    }
  }
  .contactus .copyright {
    margin-right: 0;
  }
  .text-right.cont-footer-copy {
    text-align: center;
  }
  .dahi-title .dahi-text, .paneer-title h2 {
    margin: 0;
    font-size: 34px;
  }
  .paneer-title h2:first-child { margin-bottom: 10px; }
  .dahi-title .dahi-text ~ p.made-from {
    font-size: 16px;
    margin-top: 0;
  }
  .dahi-title .past-milk,
  .dahi-title .stand-milk {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .milk-title,
  .dahi-title,
  .paneer-title {
    margin: 0 0 20px;
  }
  .milk-pack .milk-details,
  .milk-pack .dahi-details,
  .milk-pack .paneer-details,
  .dahi-pack .milk-details,
  .dahi-pack .dahi-details,
  .dahi-pack .paneer-details,
  .paneer-pack .milk-details,
  .paneer-pack .dahi-details,
  .paneer-pack .paneer-details {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .contactus {
    text-align: center;
    h2 { text-align: center; }
  }

  // header
  header .hamburger .menu .menu-links ul > li span,
  header .hamburger .menu .menu-links ul.menu-link-list li a { font-size: 14px; }
  header .hamburger .menu .menu-links ul > li:last-child { display: block; }
  header .hamburger .menu .menu-links ul > li { margin-right: 20px; }
  header .hamburger .menu .menu-links ul > li .menu-images { width: 100px; }
  header .hamburger .menu .menu-links ul .menu-link-list {
    margin-top: 30px;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 20px;
      &:last-child { margin: 0; }
      p { display: inline-block; }
    }
  }
  // Contact
  .contact, .enquire {
    .title h2 { font-size: 38px; }
  }
  .corporate-address, .plant-address { text-align: center; }
  .corporate-address {
    margin: 0 0 40px 0;
    float: none !important;
  }
  .plant-address {
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  // About Page
  .about p { font-size: 12px; }
  .adya-plant .plant-images {
    .plant-one, .plant-two, .plant-three,
    .plant-four, .plant-five, .plant-six { display: block; margin: 0 auto 5px; }
    .plant-one { @include size(300px, 150px); }
    .plant-two { @include size(300px, 250px); }
    .plant-three { @include size(300px, 400px); }
    .plant-four { @include size(300px, 200px); }
    .plant-five { @include size(300px, 250px); }
    .plant-six { @include size(300px, 250px); }
  }
  // Milk Page
  .milk-circle { @include square(400px); }
  .milk-pack .milk-details,
  .dahi-pack .dahi-details,
  .paneer-pack .paneer-details { margin: 0 20px; }
  .milk-details .milk-detail p,
  .dahi-details .dahi-detail p,
  .paneer-details .paneer-detail p {
    font-size: 14px;
    line-height: 22px;
  }
  .milk-table { font-size: 12px; }
  .prices .price-table td:first-child span { font-size: 16px; }
  .prices .price-table td + td {
    padding: 2px 15px 0;
    font-size: 14px;
  }
  .prices .dahi-price-table td + td,
  .prices .dahi-price-table td:last-child,
  .prices .paneer-price-table td + td,
  .prices .paneer-price-table td:last-child { padding: 2px 0 0; }
  .prices .paneer-price-table td:first-child { padding: 0; }
}
// landscape
@media (max-width: 480px) {
  .milk .milk-txt,
  .milk .dahi-txt,
  .milk .paneer-txt,
  .dahi .milk-txt,
  .dahi .dahi-txt,
  .dahi .paneer-txt,
  .paneer .milk-txt,
  .paneer .dahi-txt,
  .paneer .paneer-txt {
    width: 38%;
    p {
      line-height: 120%;
      margin-bottom: 2px;
    }
  }
  section#milk { min-height: 200px; }
  section#dhai { min-height: 200px; }
  .menu-links {
    ul > li {
      margin-right: 10px !important;
      .sub-menu {
        font-size: 14px!important;
        margin-top: 0 !important;
        position: static!important;
      }
      a { font-size: 14px; }
    }
  }

  // header
  header .hamburger .menu .menu-links ul > li .menu-images { width: 80px; }
  header .hamburger .menu .menu-links ul > li span { font-size: 14px; }
  // Careers
  .careers {
    .careers-main {
      h2 { font-size: 28px; }
      p { font-size: 12px; }
    }
  }
  // Contact
  .contact, .enquire {
    .title h2 { font-size: 28px; }
  }
  .contact-address { font-size: 12px; }
  // About Page
  .about { margin: 0 20px; }
  // Milk Page
  .milk-circle { @include square(250px); }
  .prices .price-table td:first-child span { font-size: 12px; }
  .prices .price-table td + td { font-size: 12px; }
  table.table-curved td { padding: 8px 30px 0; }
}
