// @media (max-width: 992px) {
//   .energy { width: 50%; }
// }
// @media (max-width: 768px) {
//   // paneer
//   .energy { width: 50%; }
// }
// @media (max-width: @screen-xs-max) {
//
// }


// media query
@media (max-width: $screen-md-max) {
  // About us
  .team-members {
    .manan, .aadil, .viraj { margin: 55px 0 0 20px; }
    .member-detail { margin-top: 65px; }
  }
  // milk
  .table-milk { margin-top: 28px; }
  .table-dahi { margin-top: 20px; }
  .table-paneer { margin-top: 35px; }
  .paneer-title { margin: 65px -75px 0 0; }
  // plant
  .slider .main-slidepart { width: 90%; }
}

@media (max-width: $screen-sm-max) {
  // About us
  .team-members {
    .manan, .aadil, .viraj { margin: 70px 0 0 -15px; }
  }
  // contact us
  .contact-add { margin: 0; }
  // milk
  .milk-title, .dahi-title, .paneer-title {
    margin: 0 0 50px;
    h2, p { text-align: center; }
  }
  .milk-pack, .dahi-pack, .paneer-pack {
    .milk-details, .dahi-details, .paneer-details {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-left: none;
      border-right: none;
      padding: 50px 0;
      margin-bottom: 50px;
    }
  }
  .table-curved { margin: 0 auto; }
  .price {
    span, p { text-align: center; }
  }
  // plant
  .slider .main-slidepart {
    width: 100%;
    margin: 100px 0;
  }
}

@media (max-width: $screen-xs-max) {
  // About us
  .team-members {
    .manan, .aadil, .viraj { margin: 0 auto; }
    .member-detail {
      margin: 0;
      text-align: center;
    }
  }
  // footer
  .footer {
    text-align: center;
    .credits { margin-bottom: 50px; }
    .social { margin-top: 50px; }
  }
  // milk
  .variant-images ul li { zoom: 0.5; }
  .dahi-image, .paneer-image { zoom: 0.6; }
}

@media (max-width: 550px) {}

// landscape
@media (max-width: $screen-xs-max) and (orientation: landscape) {}
