@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/ng-dialog/css/ngDialog.css";
@import "../bower_components/ng-dialog/css/ngDialog-theme-plain.css";
@font-face {
  font-family: "Armonioso";
  src: url("../fonts/armonioso.otf");
}
@font-face {
  font-family: "ITCAvantGarde";
  src: url("../fonts/itcavantgarde.otf");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.ttf");
}
@font-face {
  font-family: "Proxima";
  src: url("../fonts/proxima.otf");
}
@font-face {
  font-family: "Proxima Light";
  src: url("../fonts/proxima-light.otf");
}
@font-face {
  font-family: "Proxima Semi";
  src: url("../fonts/proxima-semi.otf");
}
/* Bootstrap Variables Goes Here */
$brand-primary: #feba12 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$button-color: #0D58C8!default;
$brand-info: #000072 !default;
$brand-title: #0d58c8 !default;
$brand-milk: #16aebd !default;
$brand-slim: #EF4D73 !default;
$brand-nourish: #693E98 !default;
$brand-health: #1BAA4B !default;
$brand-dahi: #78B341 !default;
$brand-paneer: #ECBB15 !default;
$brand-lassi: #f04900!default;
$brand-brown: #67322A !default;
$brand-purple: #663c94 !default;
$brand-green: #3a6f00 !default;
$font-color: #242424 !default;
$body-bg: #fff !default;
$text-color: $font-color !default;
$section-bg: #d3d3d3 !default;
$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "ITCAvantGarde", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "ITCAvantGarde", Georgia, "Times New Roman", Times, serif !default;
$font-funky: "Armonioso", "Helvetiva Neue", Helvetica !default;
$font-calibri: "Calibri", "Helvetiva Neue", Helvetica !default;
$font-proxima: "Proxima", "Helvetiva Neue", Helvetiva !default;
$font-proxima-light: "Proxima Light", "Helvetiva Neue", Helvetiva !default;
$font-proxima-semi: "Proxima Semi", "Helvetiva Neue", Helvetiva !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$instagram: #396d9a !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
.section {
  position: relative;
  &.two {
    z-index: 1;
  }
}
.primary {
  color: $brand-primary;
  &:hover,
  &:active,
  &:focus {
    color: $brand-primary;
  }
}
.brand-title {
  color: $brand-title;
}
.brand-milk {
  color: $brand-milk;
}
.brand-slim {
  color: $brand-slim;
}
.brand-nourish {
  color: $brand-nourish;
}
.brand-health {
  color: $brand-health;
}
.brand-dahi {
  color: $brand-dahi;
}
.brand-paneer {
  color: $brand-paneer;
}
.brand-lassi {
  color: $brand-lassi;
}
.brand-purple {
  color: $brand-purple;
}
.brand-green {
  color: $brand-green;
}
.brand-brown {
  color: $brand-brown;
}
.white {
  color: $body-bg;
}
.font-proxima {
  font-family: $font-proxima;
}
.font-proxima-semi {
  font-family: $font-proxima-semi;
}
a,
.btn {
  cursor: pointer;
}
a,
button {
  &:focus {
    outline: none !important;
  }
}
.btn-white {
  border: 1px solid #fff;
  background-color: #fff;
  color: $brand-primary;
  @include transition(all 300ms ease);
  &:hover {
    border: 1px solid #F7F7F7;
    background-color: #F7F7F7;
    color: $brand-primary;
    @include transition(all 300ms ease);
  }
}
.primary-bg {
  background-color: $brand-primary;
}
.brand-title-bg {
  background-color: $brand-title;
}
.brand-brown-bg {
  background-color: $brand-brown;
}
.title {
  font-size: 45px;
}
.primary-gradient {
  position: relative;
  background: #ea8806;
  @include linear-gradient(to bottom, #ea8806 0%, #feba12 30%, #feba12 30%, #feba12 100%, #feba12 100%);
}
.font-funky {
  font-family: $font-funky;
}
body {
  height: auto !important;
  font-family: $font-family-sans-serif;
  overflow-x: hidden!important;
  overflow-y: scroll!important;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
span {
  display: block;
}
a:hover {
  color: $brand-primary;
  transition: all 0.5s ease;
}
.ab {
  position: absolute;
}
.at {
  padding: 10px;
}
.text-up {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bold;
}
.mar-top {
  margin-top: 150px;
}
.big-menu {
  margin-left: 40px;
}
.text-right {
  text-align: right;
}
.f18 {
  font-size: 18px;
}
.f48 {
  font-size: 48px;
}
/* Start writing sass here */
.pattern {
  width: 100%;
  height: 238px;
  position: relative;
  margin: -150px 0 30px;
  background-image: url("../img/pattern.png");
  background-size: cover;
  background-position: center;
}
.section.header {
  height: 95px;
}
// /////////////////////////
// HOME
// /////////////////////////
.home-logo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  .logo {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    cursor: pointer;
  }
  img {
    width: 100%;
  }
}
.abt-slider {
  position: relative;
  .overlap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    img {
      height: 100%;
    }
  }
  .abt-flex {
    .flexslider {
      background-color: transparent;
      border: none;
      margin: 0;
      .flex-control-nav {
        bottom: 50px;
        z-index: 11;
      }
    }
    .flex-control-paging li a {
      background: rgba(255, 255, 255, 0.6);
    }
    .flex-control-paging li a.flex-active {
      background: white;
    }
    .flexslider .slides img {
      -o-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      -ms-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }
  }
}
.about-bg {
  // background-image: url('../img/home/section5.png');
  background-color: #EEEEEE;
  background: -webkit-linear-gradient(#EEEEEE, #fff);
  background: -o-linear-gradient(#EEEEEE, #fff);
  background: -moz-linear-gradient(#EEEEEE, #fff);
  background: linear-gradient(#EEEEEE,#FFF);
  background-size: cover;
  background-position: 0%10%;
}
// /////////////////////////
// ABOUT US
// /////////////////////////
.about {
  text-align: justify;
  h2 {
    margin-bottom: 50px;
  }
  p > span {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
  }
}
.team-members {
  margin-bottom: 20px;
  .manan,
  .aadil,
  .viraj {
    width: 175px;
    height: 175px;
    margin: 35px 0 0 75px;
    border-radius: 50%;
    background-size: cover;
    background-position: 100% 100%;
  }
  .manan {
    background-image: url("../img/manan.png");
  }
  .aadil {
    background-image: url("../img/aadil.png");
  }
  .viraj {
    background-image: url("../img/viraj.png");
  }
  .member-detail {
    margin-top: 50px;
    p {
      margin-top: 10px;
    }
    img {
      width: 100%;
    }
  }
}
// /////////////////////////
// CONTACT US
// /////////////////////////
.contactus {
  position: relative;
  h2 {
    margin-top: 35px;
  }
  a {
    &:hover {
      color: $brand-title;
    }
  }
  p {
    margin: 10px 0 0;
  }
  .copyright {
    margin-right: 20px;
  }
  .follow {
    p {
      margin: 0 10px 0 0;
      display: inline-block;
      vertical-align: middle;
    }
    .list-inline > li {
      padding: 0;
    }
  }
}
.social-icon {
  display: inline-block;
  a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    line-height: 40px;
    margin-right: 2px;
    background-color: #fff;
    i {
      color: $brand-primary;
      font-size: 20px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
.contact-address {
  h4 {
    margin: 80px 0 40px;
  }
}
.address {
  margin: 0;
  a {
    margin: 10px 0;
  }
}
.contact-add {
  margin-top: 75px;
}
.add,
.add-head {
  font-size: 16px;
}
.corporate-address {
  margin-right: 20px;
}
.plant-address {
  height: 200px;
  margin-left: -15px;
  padding-left: 30px;
  border-left: 1px solid black;
}
.enquire {
  margin: 60px 0 100px;
  h2 {
    margin-bottom: 50px;
  }
  .form-group {
    input,
    textarea {
      background: transparent;
      border: 1px solid white;
    }
    textarea {
      height: 200px;
      resize: none;
    }
  }
  .send-button {
    margin-top: 30px;
    text-align: center;
    .submit {
      padding: 8px 34px;
      border: 1px solid $brand-title;
      background: $body-bg;
      @include transition(all 300ms linear);
      &:hover {
        border: 1px solid white;
        @include transition(all 300ms linear);
      }
    }
  }
}
.top-ten {
  margin-top: 10px;
}
// /////////////////////////
// DAHI
// /////////////////////////
.dahi-pack,
.milk-pack,
.paneer-pack {
  margin-top: 100px;
  text-align: center;
  .dahi-image,
  .milk-image {
    margin: 150px 0 50px;
  }
  img.dahi-image {
    width: 35%;
  }
  .paneer-image {
    width: 45%;
    margin-top: 150px;
  }
  .dahi-details,
  .milk-details,
  .paneer-details {
    text-align: justify;
    padding: 0 30px;
    .dahi-detail,
    .milk-detail,
    .paneer-detail {
      font-size: 12px;
    }
    .prices {
      text-align: center;
    }
  }
}
.dahi-pack,
.paneer-pack {
  margin: 100px;
}
.dahi-title {
  .dahi-text {
    margin-bottom: 0;
  }
  .dahi-text ~ p.made-from {
    font-size: 18px;
    margin-top: -10px;
  }
  .past-milk,
  .stand-milk {
    margin-top: -10px;
    font-size: 34px;
  }
}
.paneer-title {
  .paneer-text,
  .paneer-text2 {
    margin-bottom: 0;
  }
  .paneer-text2 {
    margin-top: -20px;
  }
}
.dahi-text,
.milk-text,
.paneer-text,
.paneer-text2 {
  margin-top: 25px;
  font-family: $font-calibri;
  font-size: 100px;
}
// /////////////////////////
// MILK
// /////////////////////////
.milk-pack {
  h2 {
    margin-bottom: -10px;
  }
  h2 ~ p {
    font-size: 34px;
  }
}
.milk-variants {
  margin: 40px 0 150px;
  font-size: 18px;
  .variant-images {
    margin-top: 20px;
    ul li {
      width: 32.5%;
      img {
        width: 110%;
      }
    }
  }
}
// /////////////////////////
// PLANT
// /////////////////////////
.plant {
  padding: 100px 0;
  h2 {
    margin-bottom: 50px;
  }
  .plant-detail {
    p {
      text-align: justify;
    }
  }
}
.slider {
  position: relative;
  .slide-imgholder {
    height: 354px;
    margin-bottom: 20px;
    .plant-image {
      -o-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      -ms-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }
  }
  .main-slidepart {
    width: 70%;
    margin: 0 auto;
    .img-slide-hold {
      width: 100px !important;
      height: 100px;
      border-radius: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .flex-control-nav {
      display: none;
    }
  }
  .flexslider {
    background-color: transparent;
    border: none;
    .flex-direction-nav {
      a {
        width: 20px;
        height: 50px;
        color: transparent;
        text-shadow: none;
      }
      .flex-prev {
        opacity: 1;
        left: -25px;
        background: url("../img/arrow-left.png") no-repeat;
        &:before {
          display: none;
        }
      }
      .flex-next {
        opacity: 1;
        right: 0;
        background: url("../img/arrow-right.png") no-repeat;
        &:before {
          display: none;
        }
      }
    }
    .flexslider:hover .flex-direction-nav .flex-prev,
    flex-next {
      opacity: 1;
    }
  }
}
// /////////////////////////
// HEADER
// /////////////////////////
header {
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 10;
  .header-back {
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  .backmee {
    display: none;
  }
  .backme {
    display: block;
  }
  .hamburger {
    position: relative;
    .ham-menu {
      margin-top: 30px;
      position: absolute;
      top: 9px;
      left: 50px;
      cursor: pointer;
      z-index: 5;
      padding: 8px;
      background-color: $brand-brown;
      border-radius: 50%;
      span {
        width: 25px;
        height: 2px;
        margin: 5px 0;
        display: block;
        background-color: $brand-primary;
      }
    }
    .menu {
      width: 100%;
      height: 550px;
      padding: 100px 0 0;
      position: absolute;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      z-index: 2;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../img/pattern_white_home.png');
      .menu-links {
        ul {
          margin: 0;
          padding: 0;
          > li {
            margin-right: 27px;
            display: inline-block;
            & > .sub-menu {
              margin-top: 50px;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 16px;
              font-weight: 300;
              z-index: 4;
              > li {
                display: block;
                margin: 0;
              }
            }
            .menu-images {
              @include size(145px, auto);
            }
            span {
              font-size: 22px;
            }
          }
          > li:last-child {
            margin: 0;
          }
        }
        ul.menu-link-list li {
          margin: 0;
          display: block;
          a {
            font-size: 22px;
          }
        }
      }
      .rel {
        position: relative;
      }
      .rel:hover .sub-menu {
        display: block;
      }
      .pattern-white {
        width: 100%;
        height: 164px;
        background-image: url("../img/pattern_white.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: -150px;
      }
      .pattern-white-home {
        background-image: url("../img/pattern_white_home.png");
      }
    }
  }
  .logo {
    width: 165px;
    height: 80px;
    position: relative;
    margin: 0 0 0 120px;
    z-index: 3;
    .home_logo {
      margin-top: -30px;
      display: block;
    }
    img {
      cursor: pointer;
    }
  }
}
.menu-out {
  @include transform(translateY(-580px));
  opacity: 0;
  transition: all 500ms ease;
  z-index: 1000;
}
.menu-in {
  @include transform(translateY(0px));
  opacity: 1;
  transition: all 500ms ease;
  z-index: 1000;
}
.change-me {
  .ham-menu {
    background-color: $brand-primary !important;
    span {
      background-color: $brand-brown !important;
    }
  }
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
// /////////////////////////
// FOOTER
// /////////////////////////
footer {
  margin: 150px 0 50px;
  .social {
    text-align: center;
    .social-icons {
      width: 35px;
      height: 35px;
      line-height: 36px;
      margin-right: 10px;
      background: black;
      display: inline-block;
      border-radius: 50%;
      font-size: 20px;
    }
    .social-icons:last-child {
      margin: 0;
    }
  }
}
.aboutus h2 {
  margin-top: 0;
}
.aboutus .about-us-desc {
  margin-top: 12%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    margin-bottom: 20px;
    font-size: 70px;
  }
  p {
    text-align: justify;
    font-size: 18px;
  }
}
.color-blue {
  color: #17adbb;
  font-size: 22px !important;
  text-align: center!important;
}
.home-header {
  //opacity: 0;
  display: none;
  @include transition(all ease 300ms);
  @include transform(translateY (-250px));
  &.affix {
    position: fixed;
    top: 0;
    @include transform(translateY (-0px));
    z-index: 999;
    //opacity: 1;
    display: block;
  }
}
//popup//
.lassis-popup {
background-image:url("../img/home/back.jpg");
  position: relative;
  min-height: 600px;
  background-size: cover;
}
.lassis {
  position: absolute;
  right: 10%;
  z-index: 3;
  bottom: 36%;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
  width: 900px;
  padding: 0;
}
.ngdialog.ngdialog-theme-plain .ngdialog-close:before{
  color: #fff!important;
  font-size: 40px;
}
.ngdialog.ngdialog-theme-plain {
    padding-top: 60px;
}

.lassis-katori{
  margin-left: 15%;
  margin-top: 15%;
}
.home-lassis-title{
  color: #fff!important;
  position: absolute;
  top: 51%;
  left: 59%;
}
.lassis {
    position: absolute;
    right: 6%;
    z-index: 3;
    top: 33px;
    width: 40%;
}
.lassis-text{
  margin-top: 12%;
  p{
    color: #fff !important;
    font-family: $font-family-sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.cow{
  position: absolute;
  left: 32%;
    top: 105px;
    z-index: 3;
}
@import "harsh";
@import "home";
@import "mobile";
