@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

@font-face {
    font-family: "Armonioso";
    src: url('../fonts/armonioso.otf');
}
@font-face {
    font-family: "ITCAvantGarde";
    src: url('../fonts/itcavantgarde.otf');
}
@font-face {
    font-family: "Calibri";
    src: url('../fonts/calibri.ttf');
}

/* Bootstrap Variables Goes Here */

$brand-primary: #feba12 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-title: #0d58c8 !default;

$font-color: #242424 !default;

$body-bg: #fff !default;
$text-color: $font-color !default;

$section-bg: #d3d3d3 !default;

$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;

$font-family-sans-serif: "ITCAvantGarde", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "ITCAvantGarde", Georgia, "Times New Roman", Times, serif !default;
$font-funky: "Armonioso", "Helvetiva Neue", Helvetica !default;
$font-calibri: "Calibri", "Helvetiva Neue", Helvetica !default;

$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$instagram: #396d9a !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.primary { color: $brand-primary; }
.brand-title { color: $brand-title; }
.white { color: $body-bg; }
.primary-bg { background-color: $brand-primary; }
.brand-title-bg { background-color: $brand-title; }
.primary-gradient {
  background: #ea8806;
  background: -moz-linear-gradient(top,  #ea8806 0%, #feba12 30%, #feba12 30%, #feba12 100%, #feba12 100%);
  background: -webkit-linear-gradient(top,  #ea8806 0%,#feba12 30%,#feba12 30%,#feba12 100%,#feba12 100%);
  background: linear-gradient(to bottom,  #ea8806 0%,#feba12 30%,#feba12 30%,#feba12 100%,#feba12 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea8806', endColorstr='#feba12', GradientType=0 );
}
.font-funky { font-family: $font-funky; }

body { font-family: $font-family-sans-serif; }
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  color: $brand-primary;
  transition: all 0.5s ease;
}
.ab { position: absolute; }
.at { padding: 10px; }
.text-up { text-transform: uppercase; }
.text-bold { font-weight: bold; }
.mar-top { margin-top: 100px; }
.f18 { font-size: 18px; }
.f48 { font-size: 48px; }
.black-line {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* Start writing sass here */
.pattern {
  width: 100%;
  height: 200px;
  position: relative;
  margin: -150px 0 30px;
  background-image: url("../img/pattern.png");
  background-size: cover;
  background-position: center;
}

// /////////////////////////
// HOME
// /////////////////////////
.home-logo {
  padding-top: 200px;
  img { margin: 0 auto; }
}
.milky {
  position: relative;
  .milk-dahi-paneer {
    width: 100%;
    height: auto;
    position: relative;
    top: -300px;
  }
}
.milk, .dahi, .paneer { width: 200px; }
.milk { top: 1400px; }
.dahi { top: 2000px; }
.paneer {
  top: 2700px;
  z-index: 1;
}
.aboutus {
  margin: 0 100px;
  top: 3300px;
  z-index: 1;
}
.contactus { display: none; }

// /////////////////////////
// ABOUT US
// /////////////////////////

.about, .team {
  text-align: justify;
  h2 { margin-bottom: 50px; }
}
.team-members {
  margin-bottom: 20px;
  .manan, .aadil, .viraj {
    width: 200px;
    height: 200px;
    margin: 25px 0 0 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: 100% 100%;
  }
  .manan { background-image: url("../img/manan.png"); }
  .aadil { background-image: url("../img/aadil.png"); }
  .viraj { background-image: url("../img/viraj.png"); }
  .member-detail {
    transform: translate(0%, 25%);
    p { margin-top: -5px; }
    p + p { margin: 0; }
    img { width: 100%; }
  }
}

// /////////////////////////
// CONTACT US
// /////////////////////////
.cont { margin-bottom: -150px; }
.contact-address { margin-top: 50px; }
.contact-add { transform: translate(0%, 25%); }
.add, .add-head {
  font-size: 16px;
  font-weight: 700;
}
.add-head { margin-bottom: 0px; }
.enquire {
    margin: 100px 0 20px;
    h2 { margin-bottom: 50px; }
}
.form-group {
  input, textarea {
    background: transparent;
    border: 1px solid white;
  }
  textarea { height: 200px; }
}
.send-button {
  margin-top: 30px;
  text-align: center;
  .submit {
    padding: 7px 30px;
    border: 1px solid white;
    background: $body-bg;
    color: $brand-primary;
    &:hover {
     border: 1px solid white;
    }
  }
}

// /////////////////////////
// DAHI
// /////////////////////////

.dahi-pack, .milk-pack, .paneer-pack {
    text-align: center;
    .dahi-image, .milk-image, .paneer-image { margin: 100px 0 50px; }
    p.dahi-detail, p.milk-detail, p.paneer-detail { text-align: justify; }
}
.dahi-text, .milk-text, .paneer-text {
    margin-top: 40px;
    font-family: $font-calibri;
    font-size: 60px;
}
.energy {
    width: 100%;
    height: 100%;
    padding: 20px 50px 50px;
}
.past-milk, .stand-milk {
    margin-top: -10px;
    font-size: 24px;
}
.milk-details, .dahi-details, .paneer-details {
  margin: 0 -50px;
  padding: 0 50px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

// /////////////////////////
// MILK
// /////////////////////////
.milk-pack { h3 { margin-bottom: 50px; } }
.milk-variants { margin-top: 50px; }
.milk-var { margin-bottom: 50px; }

// /////////////////////////
// PLANT
// /////////////////////////
.plant {
  padding-top: 100px;
  h2 { margin-bottom: 50px; }
  .plant-detail {
    p { text-align: justify; }
  }
}

// /////////////////////////
// HEADER
// /////////////////////////
header {
  margin-bottom: -15px;
  text-align: center;
  .hamburger {
    height: 20px;
    cursor: pointer;
    .ham-menu {
      position: absolute;
      margin-top: 30px;
      left: 50px;
      z-index: 2;
      span {
        width: 30px;
        height: 3px;
        margin: 5px 0;
        display: block;
        background-color: black;
      }
    }
    .menu {
      width: 100%;
      padding: 100px 0 50px;
      position: relative;
      background-color: white;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      z-index: 1;
      ul {
        margin: 0;
        padding: 0;
        li.inline { margin-right: 30px; }
        li:last-child { margin: 0; }
      }
      .sub-menu {
        padding-top: 50px;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        font-weight: 300;
        z-index: 4;
      }
      .rel{ position: relative; }
      .rel:hover .sub-menu { display: block; }
      .pattern-white {
        width: 100%;
        height: 150px;
        background-image: url("../img/pattern_white.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: -150px;
      }
    }
  }
  .logo {
    position: relative;
    z-index: 3;
    img { display: inline; }
  }
}
.menu-out {
  @include transform(translateY(-400px));
  transition: all 500ms ease;
}
.menu-in {
  @include transform(translateY(60px));
  transition: all 500ms ease;
}
.inline { display: inline-block; }
.block { display: block; }

// /////////////////////////
// FOOTER
// /////////////////////////
footer {
  margin: 150px 0 50px;
  .social {
    text-align: center;
    .social-icons {
      padding: 8px 8px 4px;
      margin-right: 10px;
      background: black;
      display: inline;
      border-radius: 50%;
      font-size: 20px;
      .tw { margin: 0 -5px 0 0; }
    }
    .social-icons:last-child { margin: 0; }
  }
}

@import "mobile.scss"
