<section class="">
	<div class="container">
		<div class="about">
			<h2 class="font-funky text-center primary f48">about us</h2>
			<p>Adya Dairy Products Pvt. Ltd is a joint venture between The Shalimar Group and The Chokhany Group.</p>
			<p>At the heart of Adya lies the dairy farmer and his well-being. By procuring milk directly from the farmer, the company not only benefits him but also succeeds in delivering fresh and healthy milk to thousands of families in West Bengal.</p>
			<p>Adya Dairy has an integrated dairy plant capable of handling over 1,50,000 litres of milk per day.The milk collected through the chilling centres across villages is processed and packed at the state of the art dairy plant, which is located in the Howrah district of West Bengal.</p>
			<p>The product portfolio of the company at present include pasteurised milk in different varieties like Toned Milk, Double Toned Milk, Cow Milk and Standardized Milk. Other products include Paneer, Ghee, Dahi and Skimmed Milk Powder.</p>
			<p>Adya Dairy, with its wide array of products continually strives to make India pure, fresh and tasty.</p>
		</div>
		<div class="team" id="team">
			<h2 class="font-funky text-center white f48">team</h2>
			<div class="team-members">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="manan"></div>
					</div>
					<div class="col-md-9 col-sm-9">
						<div class="member-detail">
							<h3 class="text-up">Manan Vora</h3>
							<span class="text-bold">President</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="team-members">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="aadil"></div>
					</div>
					<div class="col-md-9 col-sm-9">
						<div class="member-detail">
							<h3 class="text-up">Aadil Mehta</h3>
							<span class="text-bold">Vice President</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="team-members">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="viraj"></div>
					</div>
					<div class="col-md-9 col-sm-9">
						<div class="member-detail">
							<h3 class="text-up">Viraj Kale</h3>
							<span class="text-bold">Manager</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
