<section class="">
	<div class="about-head head">
		<img src="img/head/about2.png" alt="" class="img-responsive" />
	</div>
	<div class="container">
		<div class="about">
			<h2 class="font-funky text-center primary f48">about us</h2>
			<p>Adya Dairy Products Pvt. Ltd is a joint venture between The Shalimar Group and The Chokhany Group.</p>
			<p>At the heart of Adya lies the dairy farmer and his well-being. By procuring milk directly from the farmer, the company not only benefits him but also succeeds in delivering fresh and healthy milk to thousands of families in West Bengal.</p>
			<p>Adya Dairy has an integrated dairy plant capable of handling over 1,50,000 litres of milk per day.The milk collected through the chilling centres across villages is processed and packed at the state of the art dairy plant, which is located in the Howrah district of West Bengal.</p>
			<p>The product portfolio of the company at present include pasteurised milk in different varieties like Toned Milk, Double Toned Milk, Cow Milk and Standardized Milk. Other products include Paneer, Ghee, Dahi and Skimmed Milk Powder.</p>
			<p>Adya Dairy, with its wide array of products continually strives to make India <span class="primary">pure, fresh and tasty.</span></p>
		</div>
	</div>

	<div class="life-at-adya primary-bg">
		<div class="container">
			<h2 class="white font-funky text-center f48">life at adya</h2>
			<div class="procurement">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="procurement-image">
							<img src="img/about/life/1.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h3 class="text-uppercase brand-brown">Procurement</h3>
						<p class="text-left">At the heart of Adya lies the need to build a brand that is beneficial to everyone – right from the providers to the consumers. By procuring milk directly from the dairy farmers at the village level, we are not only benefitting the farmers but also providing fresh and healthy milk to every family in West Bengal. Milk collected at the village level is brought to the chilling centres of the company and then transported to our plant in insulated tankers for processing.</p>
					</div>
				</div>
			</div>

			<div class="cow hidden-xs">
				<img src="img/about/life/cow1.png" alt="" class="img-responsive">
			</div>

			<div class="processing">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-sm hidden-md hidden-lg">
						<div class="processing-image">
							<img src="img/about/life/2.png" alt="" class="img-responsive pull-right">
						</div>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h3 class="text-uppercase brand-brown text-right">Processing</h3>
						<p class="text-right">Adya believes in providing pure, fresh and healthy milk to the people of Bengal. So, we make it a priority that the milk collected from the dairy farmers is not only fresh but also safe to consume. To bring West Bengal the best of dairy products, we have the latest in technology for processing at our state-of-the-art plant. Adya Production team ensures the products are processed and packed in ultra-hygienic conditions effectively and safely.</p>
					</div>
					<div class="col-md-3 col-sm-3 hidden-xs">
						<div class="processing-image">
							<img src="img/about/life/2.png" alt="" class="img-responsive pull-right">
						</div>
					</div>
				</div>
			</div>

			<div class="cow hidden-xs">
				<img src="img/about/life/cow2.png" alt="" class="img-responsive">
			</div>

			<div class="quality-control">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="quality-control-image">
							<img src="img/about/life/3.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h3 class="text-uppercase brand-brown">Quality Control</h3>
						<p class="text-left">The word ‘quality’ as applied to milk &amp; milk products refers to “those attributes which make it agreeable to the person who consumes it”. Quality Assurance is one of the major challenges confronting the dairy industry in our times. The motto of “ADYA DAIRY” is to produce and provide clean, wholesome and safe milk and milk products to our consumers. Adya Quality team ensures factors like sensory characteristics, nutritional value as well as the characteristics of freedom from harmful microorganisms and undesirable substances and bring the purest and fresh product to you.</p>
					</div>
				</div>
			</div>

			<div class="cow hidden-xs">
				<img src="img/about/life/cow1.png" alt="" class="img-responsive">
			</div>

			<div class="distribution">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-sm hidden-md hidden-lg">
						<div class="distribution-image">
							<img src="img/about/life/4.png" alt="" class="img-responsive pull-right">
						</div>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h3 class="text-uppercase brand-brown text-right">Distribution</h3>
						<p class="text-right">At Adya, we believe that we are not just distributing dairy products to consumers, but putting a box full of happiness in the hands of every family in West Bengal. With the heart of Adya being delivered to you, all the love and care is put in throughout its production as well as distribution. The products are dispatched in our temperature controlled vehicles to all the parts of Bengal in clean and hygienic crates, which is then successfully delivered to thousands of families for consumption of <span class="white">pure, fresh and tasty</span> dairy products.</p>
					</div>
					<div class="col-md-3 col-sm-3 hidden-xs">
						<div class="distribution-image">
							<img src="img/about/life/4.png" alt="" class="img-responsive pull-right">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-pattern">
			<img src="img/about-pattern.png" alt="" class="img-responsive">
		</div>
	</div>

	<div class="vision">
		<div class="container">
			<h3 class="primary font-funky text-center f48">vision and mission</h3>
			<div class="vision-text text-left text-uppercase">
				<p class="a">To make</p>
				<p class="b">Fresh <span>&amp;</span> Tasty</p>
				<p class="c">Dairy products</p>
				<p class="d">For a healthy india</p>
			</div>
			<p>We are committed to procure milk directly from the farmers, thus helping thousands of farmers family in rural Bengal and outside.</p>
			<p>We are committed to  shape life long relationship with our customers by understanding their needs and protecting their interests.</p>
			<p>We are committed to our consumers  by delivering fresh and healthy milk &amp; milk products. Our state-of the art dairy plant, Quality Assurance system and strong distribution network,  ensures hygienic &amp; safe food to our customers along with all the nutritional benefits.</p>
			<p>We are committed for innovation and keep bringing new and healthier products to the consumers through our well built Research &amp; Development system.</p>
		</div>
	</div>

	<div class="container">
		<div class="adya-plant">
			<h2 class="font-funky text-center primary f48">adya plant</h2>
			<div class="plant-images">
				<div class="plant-section">
					<div class="plant-one">
						<img src="img/about/plant1.jpg" alt="" class="img-responsive" />
					</div>
					<div class="plant-two">
						<img src="img/about/plant2.jpg" alt="" class="img-responsive" />
					</div>
				</div>
				<div class="plant-section">
					<div class="plant-three">
						<img src="img/about/plant3.jpg" alt="" class="img-responsive" />
					</div>
					<div class="plant-four">
						<img src="img/about/plant4.jpg" alt="" class="img-responsive" />
					</div>
				</div>
				<div class="plant-section">
					<div class="plant-five">
						<img src="img/about/plant5.jpg" alt="" class="img-responsive" />
					</div>
					<div class="plant-six">
						<img src="img/about/plant6.jpg" alt="" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
