<section class="">
	<div class="about-head head">
		<img src="img/head/about.png" alt="" class="img-responsive" />
	</div>
	<div class="container">
		<div class="about">
			<h2 class="font-funky text-center primary f48">about us</h2>
			<p>Adya Dairy Products Pvt. Ltd is a joint venture between The Shalimar Group and The Chokhany Group.</p>
			<p>At the heart of Adya lies the dairy farmer and his well-being. By procuring milk directly from the farmer, the company not only benefits him but also succeeds in delivering fresh and healthy milk to thousands of families in West Bengal.</p>
			<p>Adya Dairy has an integrated dairy plant capable of handling over 1,50,000 litres of milk per day.The milk collected through the chilling centres across villages is processed and packed at the state of the art dairy plant, which is located in the Howrah district of West Bengal.</p>
			<p>The product portfolio of the company at present include pasteurised milk in different varieties like Toned Milk, Double Toned Milk, Cow Milk and Standardized Milk. Other products include Paneer, Ghee, Dahi and Skimmed Milk Powder.</p>
			<p>Adya Dairy, with its wide array of products continually strives to make India pure, fresh and tasty.</p>
		</div>
		<div class="adya-plant">
			<h2 class="font-funky text-center primary f48">adya plant</h2>
			<div class="plant-images">
				<div class="plant-section">
					<div class="plant-one">
						<img src="img/about/plant1.jpg" alt="" class="img-responsive" />
					</div>
					<div class="plant-two">
						<img src="img/about/plant2.jpg" alt="" class="img-responsive" />
					</div>
				</div>
				<div class="plant-section">
					<div class="plant-three">
						<img src="img/about/plant3.jpg" alt="" class="img-responsive" />
					</div>
					<div class="plant-four">
						<img src="img/about/plant4.jpg" alt="" class="img-responsive" />
					</div>
				</div>
				<div class="plant-section">
					<div class="plant-five">
						<img src="img/about/plant5.jpg" alt="" class="img-responsive" />
					</div>
					<div class="plant-six">
						<img src="img/about/plant6.jpg" alt="" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
