<section>
  <div class="careers">
    <div class="careers-head head">
      <img src="img/head/careers.png" alt="" class="img-responsive" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="careers-main text-center">
            <h2 class="font-funky primary f48">Careers</h2>
            <p>Adya provides progressive and enjoyable career path to employees who are looking for dynamic career.  Our distinctive approach to diversity is based on a belief that each employee is personally accountable for creating and sustaining an inclusive environment.</p>
            <p>We employ experts across an extraordinary array of technical and commercial specializations and we take pride in our employee retention.</p>
            <p>
              <span>To join the team at Adya, please mail us your resume on</span>
              <a href="mailto:careers@adyadairy.com">careers@adyadairy.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
