<section>
  <div class="careers">
    <div class="careers-head head">
      <img src="img/head/careers.png" alt="" class="img-responsive" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="careers-main text-center">
            <h2 class="font-funky primary f48">Careers</h2>
            <p>Adya provides progressive and enjoyable career path to employees who are looking for dynamic career. Our distinctive approach to diversity is based on a belief that each employee is personally accountable for creating and sustaining an inclusive
              environment.
            </p>
            <p>We employ experts across an extraordinary array of technical and commercial specializations and we take pride in our employee retention.</p>
            <p>
              <span>To join the team at Adya, please mail us your resume to</span>
              <a href="mailto:careers@adyadairy.com">careers@adyadairy.com</a>
            </p>
          </div>
        </div>
        <div class="col-md-offset-2 col-md-8">
          <div class="white-accordion mb100">
            <div class="careers-main text-center">
              <h2 class="font-funky primary f48 bod-btm">Vacancies</h2>
            </div>
            <uib-accordion close-others="oneAtATime">
              <uib-accordion-group is-open="status.open1" ng-repeat = "career in careers">
                <uib-accordion-heading><span class="bold">{{career.title}}</span>
                  <i class="pull-right fa primary" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i>
                </uib-accordion-heading>
                <p><span class="bold">Exp :</span> {{career.experience}}
                  <br> <span class="bold"> Educational Qualification :</span> {{career.qualification}}
                  <br> <span class="bold"> No of Positions :</span> {{career.openings}}
                  <br> <span class="bold"> Area :</span> {{career.area}}</p>
              </uib-accordion-group>
              <!-- <uib-accordion-group is-open="status.open2">
                <uib-accordion-heading><span class="bold">Fitter(Ammonia,welding)</span>
                  <i class="pull-right fa primary" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i>
                </uib-accordion-heading>
                <p><span class="bold">Exp :</span> 3-6years
                  <br> <span class="bold"> Educational Qualification :</span> 10th + Training in ITI fitter
                  <br> <span class="bold"> No of Positions :</span> 2
                  <br> <span class="bold"> Area :</span> Howrah</p>
              </uib-accordion-group>
              <uib-accordion-group is-open="status.open3">
                <uib-accordion-heading><span class="bold">Milk Procurement Supervisor</span>
                  <i class="pull-right fa primary" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i>
                </uib-accordion-heading>
                <p><span class="bold">Exp :</span> 2-3 years
                  <br> <span class="bold"> Educational Qualification :</span> Any
                  <br> <span class="bold"> No of Positions :</span> 3
                  <br> <span class="bold"> Area :</span> WB</p>
              </uib-accordion-group>
              <uib-accordion-group is-open="status.open4">
                <uib-accordion-heading><span class="bold">Packaging operator</span>
                  <i class="pull-right fa primary" ng-class="{'fa-minus': status.open4, 'fa-plus': !status.open4}"></i>
                </uib-accordion-heading>
                <p><span class="bold">Exp :</span> 3-5 years
                  <br> <span class="bold"> Educational Qualification :</span> Vocational Course
                  <br> <span class="bold"> No of Positions :</span> 1
                  <br> <span class="bold"> Area :</span> Howrah</p>
              </uib-accordion-group>
              <uib-accordion-group is-open="status.open5">
                <uib-accordion-heading><span class="bold">Microbiologist</span>
                  <i class="pull-right fa primary" ng-class="{'fa-minus': status.open5, 'fa-plus': !status.open5}"></i>
                </uib-accordion-heading>
                <p><span class="bold">Exp :</span> Min-2 years
                  <br> <span class="bold"> Educational Qualification :</span> B.Sc/M.sc
                  <br> <span class="bold"> No of Positions :</span> 6
                  <br> <span class="bold"> Area :</span> WB</p>
              </uib-accordion-group> -->
            </uib-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
