<section>
  <div class="careers">
    <div class="careers-head">
      <img src="img/careers/careers.png" alt="" class="img-responsive" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="careers-main text-center">
            <h2 class="font-funky primary">Careers</h2>
            <p>
              <span>To join the team at Adya, please mail us your resume on</span>
              <a href="mailto:careers@adyadairy.com">careers@adyadairy.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
