<section class="cont">
	<div class="contact-head head">
		<img src="img/head/contact.png" alt="" class="img-responsive" />
	</div>
	<div class="container">
		<div class="contact">
			<div class="title">
				<h2 class="font-funky text-center primary f48">contact us</h2>
			</div>
			<div class="contact-address">
				<div class="row">
					<h4 class="text-center text-uppercase text-bold">Address</h4>
					<div class="col-sm-6 col-xs-12">
						<div class="corporate-address pull-right">
							<address>
								<p class="add-head text-up text-bold">Corporate Office</p>
								<p>Adya Dairy Products Pvt. Ltd.</p>
								<p>3A, Hare Street,</p>
								<p>4th Floor, Ashoka House,</p>
								<p>Kolkata 700 001</p>
								<p>Tel.: +91 33 4005 6191/92</p>
								<p>Fax: +91 33 2210 0280</p>
							</address>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<div class="plant-address">
							<address>
								<p class="add-head text-up text-bold">Plant Address</p>
								<p>Village - Sankarhati, PO - Munshirhat,</p>
								<p>PS - Jagatballavpur,</p>
								<p>District - Howrah 711 410</p>
							</address>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="enquire" class="enquire">
			<div class="title">
				<h2 class="font-funky text-center primary f48" id="enquire">enquire with us</h2>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<form name="enquiry" ng-hide="formComplete">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="text-up" for="name">Name</label>
									<input name="username" ng-model="formenquire.name" type="text" id="name" class="form-control" required>
									<div class="top-ten" ng-show="enquiry.username.$error.required && enquiry.username.$touched">
										<span>Please Enter Your Name.</span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="text-up" for="number">Phone no</label>
									<input name="number" ng-model="formenquire.number" type="tel" id="number" class="form-control" required>
									<div class="top-ten" ng-show="enquiry.number.$error.required && enquiry.number.$touched">
										<span>Please Enter Your Phone no.</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="text-up" for="mail">Email Address</label>
							<input name="mail" ng-model="formenquire.email" type="email" id="mail" class="form-control" required>
							<div class="top-ten" ng-show="enquiry.mail.$error.required && enquiry.mail.$touched">
								<span>Please Enter Your Email Address.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="text-up" for="msg">message</label>
							<textarea name="msg" id="msg" ng-model="formenquire.msg" class="form-control" required></textarea>
							<div class="top-ten" ng-show="enquiry.msg.$error.required && enquiry.msg.$touched">
								<span>Please Enter Your Message.</span>
							</div>
						</div>
						<div class="send-button">
							<button class="btn brand-title submit text-up text-bold" ng-click="submitform(enquiry,formenquire);">Submit</button>
						</div>
					</form>
					<div class="msgform-complete" ng-show="formComplete">
						<h3 class="text-center primary">Thanks. Your details has been submitted.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
