<section>
  <div class="dahi">
    <figure class="dahi-image"></figure>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-center">Dahi</h2>
          <p class="text-center">Made From</p>
          <p class="text-center">Pasteurised Tone Milk</p>
        </div>
        <div class="col-md-4">
          <p></p>
          <p class="text-center">Available in:</p>
          <div class="prices">
            <div class="row">
              <div class="col-md-4">
                <p>200 gm</p>
                <p>Rs 40</p>
              </div>
              <div class="col-md-4">
                <p>500 gm</p>
                <p>Rs 80</p>
              </div>
              <div class="col-md-4">
                <p>1000 gm</p>
                <p>Rs 150</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <figure class="dahi-energy"></figure>
        </div>
      </div>
    </div>
    <figure class="pattern"></figure>
  </div>
</section>
