<section class="primary-bg">
  <div class="enquire-now">
    <a href="#/contactus#enquire" class="enquire-btn">enquire now</a>
 </div>
  <div class="dahi-pack">
    <img class="dahi-image" src="img/products/dahi_pack.png" />
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="dahi-title">
            <h2 class="dahi-text text-center text-up white">Dahi</h2>
            <p class="made-from text-center">Made From</p>
            <p class="past-milk text-center">Pasteurised Tone Milk</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dahi-details">
            <span class="dahi-detail text-bold">Relish the flavours of protection! Having vital nutrients such as zinc, vitamin and phosphorous, Adya’s creamy dahi prevent one from having deadly diseases. Boost your overall immunity by enjoying our dahi which are available in 200 g, 500
              g and 1 kg packs.</span>
            <h4 class="text-center text-bold f16">Available in:</h4>
            <div class="prices text-bold">
              <div class="row">
                <div class="col-md-4">
                  <span class="text-left">200 gm</span>
                  <p class="text-left">Rs 40</p>
                </div>
                <div class="col-md-4">
                  <span class="text-left">500 gm</span>
                  <p class="text-left">Rs 80</p>
                </div>
                <div class="col-md-4">
                  <span class="text-left">1000 gm</span>
                  <p class="text-left">Rs 150</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <table class="table-curved text-bold table-dahi">
            <tbody>
              <tr>
                <td>Energy</td>
                <td>61.5kcal</td>
              </tr>
              <tr>
                <td>Protein</td>
                <td>4.0g</td>
              </tr>
              <tr>
                <td>Total Carbohydrate</td>
                <td>4.4g</td>
              </tr>
              <tr>
                <td>Added Sugar</td>
                <td>0.0g</td>
              </tr>
              <tr>
                <td>Total Fat</td>
                <td>3.0g</td>
              </tr>
              <tr>
                <td>Calcium</td>
                <td>138mg</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
