<section class="">
    <div class="mini-enquire">
        <div class="enquiry-back {{eback}}" ng-click="enquiry();"></div>
        <div class="enquire-now {{ebutton}}">
            <a ng-click="enquiry();" class="enquire-btn">Enquire Now</a>
        </div>
        <section class="enquiry" ng-include="section.enquire"></section>
    </div>
    <div class="paneer-pack">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ghee-circle">
                        <img src="img/CLASSIC.png" class="img-responsive" alt="" width="300px">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="paneer-details">
                        <div class="ghee-title text-center text-up brand-paneer">
                            <h2 class="ghee-text">Pure</h2>
                            <h2 class="ghee-text2">Cow Ghee</h2>
                            <h4 class="ghee-subhead">Swaad Shudhata Ka</h4>
                        </div>

                        <div class="paneer-detail">
                            <p class="">Adya Pure Cow Ghee is prepare from fresh cream, in modern dairy plant under most hygenic conditions.
                                The smooth texture and yellow colour of Adya Pure COw Ghee is the best for cooking and making
                                sweets.
                            </p>
                        </div>

                        <div class="milk-table">
                            <table class="table-curved text-bold table-milk">
                                <tbody>
                                    <tr>
                                        <td>Energy</td>
                                        <td>897.3 kcal</td>
                                    </tr>
                                    <tr>
                                        <td>Total Fat</td>
                                        <td>99.7g</td>
                                    </tr>
                                    <tr>
                                        <td>Saturated Fat</td>
                                        <td>50.39g</td>
                                    </tr>
                                    <tr>
                                        <td>Monounsaturated Fat</td>
                                        <td>44.25g</td>
                                    </tr>
                                    <tr>
                                        <td>Poly unaturated Fat</td>
                                        <td>1.47g</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td>Trans Fat</td>
                                        <td>3.63mg</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td>Cholestrol</td>
                                        <td>250mg</td>
                                    </tr>
                                    <tr>
                                        <td>Total Carbohydrate</td>
                                        <td>0g</td>
                                    </tr>
                                    <tr>
                                        <td>Protien</td>
                                        <td>0g</td>
                                    </tr>
                                    <tr>
                                        <td>Sugar</td>
                                        <td>0g</td>
                                    </tr>
                                    <tr>
                                        <td>Dietary Fibre</td>
                                        <td>0g</td>
                                    </tr>
                                    <tr>
                                        <td>Vitamin A</td>
                                        <td>521mcg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="prices-ghee primary-bg">
                            <div class="row">
                                <table class="price-table ghee-price-table">
                                    <tr>
                                        <td><span class="text-up text-bold">Available in :</span></td>
                                        <td>
                                            200 ml
                                        </td>
                                        <td>
                                            <span>500 ml</span>
                                        </td>
                                        <td>
                                            <span>1 lt</span>
                                        </td>
                                        <td>
                                            <span>5 lt</span>
                                        </td>
                                        <td>
                                            <span>15 kg</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>