

<div class="header" ng-include="template.header"></div>
<!-- <div class="fullpage">

</div> -->
<div class="home primary-gradient"  ng-controller="PopLassiCtrl">
  <section class="section one" id="landing" ng-include="section.one"></section>
  <section class="section two" id="milk" ng-include="section.two"></section>
  <section class="section three" id="dahi" ng-include="section.three"></section>
  <section class="section four" id="paneer" ng-include="section.four"></section>
  <section class="section seven" id="lassi" ng-include="section.seven"></section>
  <section class="section five about-bg" id="aboutus" ng-include="section.five"></section>
  <section class="section six about-bg" id="contact" ng-include="section.six"></section>
</div>
