<section class="">
  <div class="mini-enquire">
    <div class="enquiry-back {{eback}}" ng-click="enquiry();"></div>
    <div class="enquire-now {{ebutton}}">
      <a ng-click="enquiry();" class="enquire-btn">Enquire Now</a>
    </div>
    <section class="enquiry" ng-include="section.enquire"></section>
  </div>
  <div class="dahi-pack">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="lassi-milk-circle">
            <img src="img/home/lassi-inside.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="dahi-details">
            <div class="dahi-title text-center brand-lassi">
              <h2 class="dahi-text text-up">Lassi</h2>
              <p class="past-milk text-up">Fresh and cool</p>
            </div>

            <div class="dahi-detail">
              <p class="">Relish the flavours of refreshment! Adya Lassi is a natural and nutritious drink. It is taken as a rehydrating drink, serves to keep the internal organs cool during hot summers.</p>
            </div>

            <div class="milk-table">
              <table class="table-curved text-bold table-milk">
                <tbody>
                  <tr>
                    <td>Energy</td>
                    <td>80kcal</td>
                  </tr>
                  <tr>
                    <td>Total Fat</td>
                    <td>2g</td>
                  </tr>
                  <tr>
                    <td>Total Carbohydrate</td>
                    <td>15.2g</td>
                  </tr>
                  <tr>
                    <td>Protein</td>
                    <td>3.2g</td>
                  </tr>
                  <tr>
                    <td>Added Sugar</td>
                    <td>12g</td>
                  </tr>
                  <tr>
                    <td>Calcium</td>
                    <td>100mg</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="prices primary-bg">
              <div class="row">
                <table class="price-table dahi-price-table">
                  <tr>
                    <td><span class="text-up text-bold">Available in:</span></td>
                    <td>
                      <span>180 ml</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
