<section class="">
  <div class="enquire-now">
    <a href="#/contactus#enquire" class="enquire-btn">Enquire Now</a>
  </div>
  <div class="milk-pack">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="milk-circle">
            <img ng-src="{{milkJSON.image}}" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="milk-details">
            <div class="milk-title text-center brand-milk">
              <h2 class="milk-text text-up">{{milkJSON.title}}</h2>
              <p class="stand-milk">{{milkJSON.subtitle}}</p>
            </div>

            <div class="milk-detail">
              <p class="">{{milkJSON.desc}}</p>
            </div>

            <div class="milk-table">
              <table class="table-curved text-bold table-milk">
                <tbody>
                  <tr ng-repeat="tab in milkJSON.table">
                    <td>{{tab.property}}</td>
                    <td>{{tab.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="prices primary-bg">
              <div class="row">
                <table class="price-table">
                  <tr>
                    <td><span class="text-up text-bold">Available in:</span></td>
                    <td ng-repeat="price in milkJSON.prices">
                      <span>{{price.value}}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="milk-variants">
              <div class="row">
                <span class="milk-var text-center text-up text-bold">Milk Variants</span>
                <div class="variant-images">
                  <ul>
                    <li ng-repeat="vari in milkJSON.variants">
                      <a ui-sref="milkproduct({id:vari.url})"><img ng-src="{{vari.image}}" alt="Milk Slim"></a>
                    </li>
                    <!-- <li>
                      <a href="" ng-click="changeURL('nourish')"><img src="img/milk-nourish.png" alt="Milk Nourish"></a>
                    </li>
                    <li>
                      <a href="" ng-click="changeURL('health')"><img src="img/milk-health.png" alt="Milk Health"></a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
