<section>
  <div class="milk">
    <figure class="milk-image"></figure>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-center">Classic</h2>
          <p class="text-center">Standardized Milk</p>
        </div>
        <div class="col-md-4">
          <p></p>
          <p class="text-center">Available in:</p>
          <div class="prices">
            <div class="row">
              <div class="col-md-offset-3 col-md-3">
                <p>500 gm</p>
                <p>Rs 40</p>
              </div>
              <div class="col-md-3">
                <p>1 litre</p>
                <p>Rs 80</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <figure class="dahi-energy"></figure>
        </div>
      </div>
      <div class="row">
        <h2 class="text-center">Milk Variants</h2>
        <div class="col-md-offset-3 col-md-2">
          <img src="img/milk-slim.png" alt="" />
        </div>
        <div class="col-md-2">
          <img src="img/milk-nourish.png" alt="" />
        </div>
        <div class="col-md-2">
          <img src="img/milk-health.png" alt="" />
        </div>
      </div>
    </div>
    <figure class="pattern"></figure>
  </div>
</section>
