<section class="">
    <div class="mini-enquire">
        <div class="enquiry-back {{eback}}" ng-click="enquiry();"></div>
        <div class="enquire-now {{ebutton}}">
            <a ng-click="enquiry();" class="enquire-btn">Enquire Now</a>
        </div>
        <section class="enquiry" ng-include="section.enquire"></section>
    </div>
    <div class="paneer-pack">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="milkpowder-circle lassi-milk-circle">
                        <img src="img/milk-powder.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 ">
                    <div class="paneer-details ">
                        <div class="ghee-title text-center text-up brand-paneer ">
                            <h2 class="milk-texthead">SKIMMED</h2>
                            <h2 class="milk-text2">MILK POWDER</h2>
                            <h4 class="milk-subhead">SPRAY DRIED</h4>
                        </div>

                        <div class="paneer-detail ">
                            <p class=" ">Get the best of non-fat milk powder with Adya Skimmed Powder. Packed with proteins and minerals but low on calories and fat, its a tasty  and a healthy chhoice  best suited for sweet preparations.
                            </p>
                        </div>

                        <div class="milk-table ">
                            <table class="table-curved text-bold table-milk ">
                                <tbody>
                                    <tr>
                                        <td>Energy</td>
                                        <td>363 kcal</td>
                                    </tr>
                                    <tr>
                                        <td>Total Fat</td>
                                        <td>0.5 g</td>
                                    </tr>
                                    <tr>
                                        <td>Saturated Fat</td>
                                        <td>0.1 g</td>
                                    </tr>
                                    <tr>
                                        <td>Trans Fat</td>
                                        <td>0 g</td>
                                    </tr>
                                    <tr>
                                        <td>Total Carbohydrate</td>
                                        <td>55 g</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td>Protein</td>
                                        <td>35 gm</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td>Added Sugar</td>
                                        <td>0 gm</td>
                                    </tr>
                                    <tr>
                                        <td>Sodium</td>
                                        <td>549 mg</td>
                                    </tr>
                                    <tr>
                                        <td>Calcium</td>
                                        <td>1200 mg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="prices-ghee primary-bg ">
                            <div class="row ">
                                <table class="price-table paneer-price-table ">
                                    <tr>
                                        <td><span class="text-up text-bold ">Available in :</span></td>
                                        <td>
                                            500gms
                                        </td>
                                        <td>
                                            <span>1 kg</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
