<section class="">
  <div class="enquire-now">
    <a href="#/contactus#enquire" class="enquire-btn">Enquire Now</a>
  </div>
  <div class="milk-pack">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="milk-circle">
            <img src="img/products/pack_milk.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="milk-details">
            <div class="milk-title text-center brand-milk">
              <h2 class="milk-text text-up">Classic</h2>
              <p class="stand-milk">Standardized Milk</p>
            </div>

            <div class="milk-detail">
              <p class="">With the richness of balanced cream and milk, Adya's Classic standardised milk is rich in proteins and calcium to help build strong bones!</p>
            </div>

            <div class="milk-table">
              <table class="table-curved text-bold table-milk">
                <tbody>
                  <tr>
                    <td>Energy</td>
                    <td>73kcal</td>
                  </tr>
                  <tr>
                    <td>Total Fat</td>
                    <td>4.5g</td>
                  </tr>
                  <tr>
                    <td>Total Carbohydrate</td>
                    <td>4.7g</td>
                  </tr>
                  <tr>
                    <td>Protein</td>
                    <td>3.0g</td>
                  </tr>
                  <tr>
                    <td>Added Sugar</td>
                    <td>0g</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="prices primary-bg">
              <div class="row">
                <table class="price-table">
                  <tr>
                    <td><span class="text-up text-bold">Available in:</span></td>
                    <td>
                      <span>500ml</span>
                      <span>Rs 40</span>
                    </td>
                    <td>
                      <span>1 litre</span>
                      <span>Rs 80</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="milk-variants">
              <div class="row">
                <span class="milk-var text-center text-up text-bold">Milk Variants</span>
                <div class="variant-images">
                  <ul>
                    <li>
                      <img src="img/milk-slim.png" alt="Milk Slim">
                    </li>
                    <li>
                      <img src="img/milk-nourish.png" alt="Milk Nourish">
                    </li>
                    <li>
                      <img src="img/milk-health.png" alt="Milk Health">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
