<section>
  <div class="paneer">
    <figure class="paneer-image"></figure>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Fresh Paneer</h2>
        </div>
        <div class="col-md-4">
          <p></p>
          <p>Available in:</p>
          <div class="prices">
            <div class="row">
              <div class="col-md-3">
                <p>100 gm</p>
                <p>Rs 40</p>
              </div>
              <div class="col-md-3">
                <p>200 gm</p>
                <p>Rs 80</p>
              </div>
              <div class="col-md-3">
                <p>500 gm</p>
                <p>Rs 150</p>
              </div>
              <div class="col-md-3">
                <p>1 kg</p>
                <p>Rs 200</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <figure class="paneer-energy"></figure>
        </div>
      </div>
    </div>
    <figure class="pattern"></figure>
  </div>
</section>
