<section class="primary-bg">
  <div class="enquire-now">
    <a href="#/enquire" class="enquire-btn">enquire now</a>
  </div>
  <div class="paneer-pack">
    <img class="paneer-image" src="img/products/paneer_pack.png" />
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="paneer-title">
            <h2 class="paneer-text text-center text-up white">Fresh</h2>
            <h2 class="paneer-text2 text-center text-up white">Paneer</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="paneer-details">
            <span class="paneer-detail text-bold">Relish the flavours of strength! Adya’s fresh paneer is power-packed with high energy, protein and magnesium that keep one up and running. Our paneer packs available in 100 g, 200 g, 500 g and 1 kg are great for the entire family to remain
              recharged through the entire day.</span>
            <br>
            <br>
            <h4 class="text-center text-up text-bold">Available in:</h4>
            <div class="prices text-bold">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <span>100 gm</span>
                  <p>Rs 40</p>
                </div>
                <div class="col-md-3 col-sm-3">
                  <span>200 gm</span>
                  <p>Rs 80</p>
                </div>
                <div class="col-md-3 col-sm-3">
                  <span>500 gm</span>
                  <p>Rs 150</p>
                </div>
                <div class="col-md-3 col-sm-3">
                  <span>1 kg</span>
                  <p>Rs 200</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <table class="table-curved text-bold table-paneer">
            <tbody>
              <tr>
                <td>Energy</td>
                <td>289kcal</td>
              </tr>
              <tr>
                <td>Milk Fat</td>
                <td>25g</td>
              </tr>
              <tr>
                <td>Carbohydrate</td>
                <td>4g</td>
              </tr>
              <tr>
                <td>Added Sugar</td>
                <td>0g</td>
              </tr>
              <tr>
                <td>Protein</td>
                <td>18g</td>
              </tr>
              </tr>
              <tr>
                <td>Calcium</td>
                <td>480mg</td>
              </tr>
              </tr>
              <tr>
                <td>Vitamin A</td>
                <td>161mcg</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
