<section class="">
  <div class="mini-enquire">
    <div class="enquire-now {{ebutton}}">
      <a ng-click="enquiry();" class="enquire-btn">Enquire Now</a>
    </div>
    <section class="enquiry" ng-include="section.enquire"></section>
  </div>
  <div class="paneer-pack">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="milk-circle">
            <img src="img/products/paneer_pack.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="paneer-details">
            <div class="paneer-title text-center text-up brand-paneer">
              <h2 class="paneer-text">Fresh</h2>
              <h2 class="paneer-text2">Paneer</h2>
            </div>

            <div class="paneer-detail">
              <p class="">Relish the flavours of strength! Adya’s fresh paneer is power-packed with high energy, protein and magnesium that keeps one up and running. Our paneer packs are available in 200g, 500g and 1kg are great for the entire family to remain recharged through the entire day. Packed in specialized thermoform packs with the help of imported machines from Germany, the product has a shelf life of 21 days.</p>
            </div>

            <div class="milk-table">
              <table class="table-curved text-bold table-milk">
                <tbody>
                  <tr>
                    <td>Energy</td>
                    <td>289kcal</td>
                  </tr>
                  <tr>
                    <td>Milk Fat</td>
                    <td>25g</td>
                  </tr>
                  <tr>
                    <td>Carbohydrate</td>
                    <td>4g</td>
                  </tr>
                  <tr>
                    <td>Added Sugar</td>
                    <td>0g</td>
                  </tr>
                  <tr>
                    <td>Protein</td>
                    <td>18g</td>
                  </tr>
                  </tr>
                  <tr>
                    <td>Calcium</td>
                    <td>480mg</td>
                  </tr>
                  </tr>
                  <tr>
                    <td>Vitamin A</td>
                    <td>161mcg</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="prices primary-bg">
              <div class="row">
                <table class="price-table paneer-price-table">
                  <tr>
                    <td><span class="text-up text-bold">Available in:</span></td>
                    <td>
                      <span>200 gm</span>
                    </td>
                    <td>
                      <span>500 gm</span>
                    </td>
                    <td>
                      <span>1 kg</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
