<div class="dialog-contents">
  <div class="lassis-popup">
    <div class="top">
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="lassis-katori">
            <h2 class="home-lassis-title font-funky  title home-title">Lassi</h2>
            <img src="img/popup/1.png" alt="lassi-katori" class="img-responsive cup">
          </div>
        </div>
        <div class="col-md-8 col-sm-7">
          <div class="lassis-text">
            <p>
              Adya Dairy brings to you a fresh and tasty dairy product,<br>Adya lassi.Made from the freshest of ingredients,this <br>rich and creamy drink is perfect for all seasons to make<br>you feel refreshed!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="row">
        <div class="col-md-12">
          <div class="cow-image">
            <img src="img/popup/2.png" class="img-responsive lassis" alt="">
            <img src="img/popup/3.png" class="img-responsive cow " alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
