<div class="lassi-popup">
  <div class="top">
  <div class="row">
    <div class="col-md-4">
    <div class="lassi-katori">
      <img src="img/popup/1.png" alt="lassi-katori" class="img-responsive">
    </div>
    </div>
    <div class="col-md-8">
      <div class="lassi-text">
        <p>
          Adya Dairy brings to you a fresh and tasty dairy product,Adya lassi.Made from the freshest of ingredients,this rich and creamy drink is perfect for all seasons to make you feel refreshed!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bottom">
  <div class="row">
    <div class="col-md-12">
      <div class="cow-image">
        <img src="" class="img-responsive cow" alt="">
              <img src="" class="img-responsive lassis" alt="">
                    <img src="" class="img-responsive background" alt="">
      </div>
    </div>
  </div>
</div>
</div>
