<!--
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://ting.in" target="_blank">Ting</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>-->
<footer>
  <div class="pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p>&copy; {{template.year}}. Adya</p>
                <p>Developed by <a href="http://ting.in" target="_blank">Ting</a>.</p>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <ul>
                    <li class="text-bold">Products</li>
                    <li><a href="#/milk">Milk</a></li>
                    <li><a href="#/dahi">Dahi</a></li>
                    <li><a href="#/paneer">Paneer</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="text-bold"><a href="#/home">Home</a></li>
                    <li class="text-bold"><a href="#/aboutus">About us</a></li>
                    <li class="text-bold"><a href="#/plant">Plant</a></li>
                    <li class="text-bold"><a href="#/">Media corner</a></li>
                    <li class="text-bold"><a href="#/contactus">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-offset-2 col-md-2">
              <div class="social">
                <p>Follow us on</p>
                <div class="social-icons">
                  <a class="fb white" href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </div>
                <div class="social-icons">
                  <a class="tw white" href="https://twitter.com/" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </div>
                <div class="social-icons">
                  <a class="in white" href="https://instagram.com/" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
</footer>
