<header ng-controller="headerctrl" class="sticky-bottom">
  <div class="header-back {{backme}}" ng-click="getnav(0);"></div>
  <nav>
    <div class="hamburger {{changeColor}}">
      <div class="ham-menu hidden-xs" ng-click="getnav(1);">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu {{showme}}">
        <div class="menu-links">
          <ul>
            <li>
              <a href="#/milk" title="Milk">
                <div class="menu-images"><img src="img/products/milk.png" alt="Milk" class="img-responsive"></div>
                <span>Milk</span></a>
            </li>
            <li>
              <a href="#/dahi" title="Dahi">
                <div class="menu-images"><img src="img/products/dahi.png" alt="Dahi" class="img-responsive"></div>
                <span>Dahi</span></a>
            </li>
            <li>
              <a href="#/paneer" title="Paneer">
                <div class="menu-images"><img src="img/products/paneer.png" alt="Paneer" class="img-responsive"></div>
                <span>Paneer</span></a>
            </li>
            <li>
              <a href="#/lassi" title="Lassi">
                <div class="menu-images"><img src="img/home/menu-lassi.png" alt="Lassi" class="img-responsive lassi-img"></div>
                <span>Lassi</span></a>
            </li>
            <li>
              <a href="#/ghee" title="Ghee">
                <div class="menu-images"><img src="img/home/rsz_ghee.png" alt="Ghee" class="img-responsive ghee-img"></div>
                <span>Ghee</span></a>
            </li>
            <li>
              <a href="#/milkpowder" title="Ghee">
                <div class="menu-images"><img src="img/products/hdr-milkpowder.png" alt="Milk Powder" class="img-responsive ghee-img"></div>
                <span>Milk Powder</span></a>
            </li>
            <li>
              <ul class="menu-link-list text-left">
                <li>
                  <p><a href="#/home" title="Home">Home</a></p>
                </li>
                <li>
                  <p><a href="#/aboutus" title="About us">About us</p></li>
                  <li><p><a href="#/careers" title="Careers">Careers</a></p>
                </li>
                <li>
                  <p><a href="#/contactus" title="Contact us">Contact us</a></p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="logo">
      <div class="ham-menu hidden-sm hidden-md hidden-lg" ng-click="getnav(1);">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="#/home" class="home_logo">
        <img src="img/logo_white_circle.png" alt="" class="img-responsive">
      </a>
    </div>
  </nav>
</header>
