<header>
   <!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><img src="img/logo.png" alt="logo" width="20"> </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</nav> -->
<nav>
    <div class="container">
        <div class="pull-left">
            <div class="hamburger">
                <div class="click">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#/home" title="Home">Home</a></li>
                        <li><a href="#/overview" title="Overview">Overview</a></li>
                        <li><a href="#/products" title="Products">Products</a></li>
                        <li><a href="#/plant" title="Plant">Plant</a></li>
                        <li><a href="#/media" title="Media corner">Media corner</a></li>
                        <li><a href="#/contactus" title="Contact us">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center logo"><a href=""><img src="img/logo_white.png" alt="" class="img-responsive"></a></div>
    </div>
</nav>
</header>
